/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                GENERALE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/
#body404 h1::after,.errorPage h1:after , .errorPage h1:before {
    display: none;
}

#intestazioneSito{
    width: calc(100% - 0.1em);
    padding-right:0.1em;
    font-size: 1.1em;
    background-color: rgb(48, 44, 44);
    min-height: 3em;
}
#intestazioneSito #menu > li{
    font-size: 0.8em;
    height: 3.3em;
}

#intestazioneSito #menu li#currentLink{
    padding-top: 1em;
    height: 1.8em;
}
#intestazioneSito #menu > li > a, #intestazioneSito .dropdown{
    padding-top: 1em;
    height:1.8em;
}
#intestazioneSito #menu > li:last-child > a {
    padding-right: 0;
}
#intestazioneSito #access {
    width: 10.4em;
    font-size: 0.99em;
    margin: auto;
    min-width:0;
}
#access #Accesso{
    margin-right: 0;
}
#access input[value="Esci"], #access input[value="Area Personale"]{
    font-size: 0.88em;
    padding: 0.4em 0;
    height: 2.7em;
}
#access input {
    margin: auto;
    width:5em; 
    margin-top: 0.3em;
    height: 2.4em;
}
#menu ul.dropdown-content li {
    width:14em;
}
#menu ul.dropdown-content li a {
    padding: 0.6em;
    font-size: 1.2em;
}
#menu .dropdown::after { 
    display: none;
}

* {
    font-size: 1em;
}

body {
    width: 100%;
}

h2{
    padding-bottom: 0.5em;
    font-size: 2em;
    font-weight: 500;
}

h3{
    font-size: 1.3em;
    font-weight: 500;
    padding-bottom: 0.2em;
}

#intestazionePagina{
    width: 95%;
    padding-top: 1em;
    padding-bottom: 1.9em;
}
#intestazionePagina h1{
    font-size: 2.5em;
    margin-bottom: 0.3em;
}


.puntoInterrogativo{
    margin-left: 0;
}
/*TO FIX */
.buttonLink {
    width:20em;
    height: 2.7em;
}
/*TO FIX */
a.buttonLink {
    padding-top:0.5em;
    height: 2.2em;
}
/*TO FIX */
input[type="file"]{
    width: 20em;
}

/*TO FIX */
textarea,input[type="text"],input[type="date"],input[type="password"] {
    width: calc(100% - 1em);
}

#footerContent h2 {
    padding-bottom: 0.3em;
}

#footerContent.interactive dl dt {
    margin: 0 3%;
}

#footerContent.static dl dd {
    width: 98%;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                HOME PAGE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/



/*
--------------------------------------- COPERTINA ----------------------------------------------
------------------------------------------------------------------------------------------------------------
*/
#copertina{
    height: calc(13em + 75px);
}
#copertina img{
    display:block;
    width: 800px;
    height: calc(13em + 75px);
    position: relative;
    left: calc(100% - 800px);
}
#copertina #titolo::after{
    top: -1em;
    width: 20em;
    height: 7em;
    background-size: 20em 7em;
}

#copertina #starFeature{
    width: 20em;
    margin-right: 2em;
    top: calc(-24em + -10vw);
    left: calc(82% - 16em);
    padding: 0.5em;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
}
#copertina #starFeature dt:nth-child(3){
    padding-top: 0.6em;
}
#copertina #starFeature dt{
    padding-bottom: 0em;
}
#copertina header h1{
    font-size: 3em;
    margin-bottom: 0.3em;
    padding-left: 0em;
}
#personaggiCoperina{
    content:"";
    display: block;
    width: 433px;
    height: 204px;
    background-image: url(../img/personaggi_copertina.png);
    background-size: 433px 204px;
    position: relative;
    margin-top: 13%;
    top:-290px;
}


/*
--------------------------------------- PRESENTAZIONE FEATURE ----------------------------------------------
------------------------------------------------------------------------------------------------------------
*/

#presentazioneFeatures{
    width: 100%;
}

#presentazioneFeatures h2, #presentazioneFeatures p{
    width: 90%;
}

#presentazioneFeatures p{
    margin-bottom: 0.3em;
}

#presentazioneFeatures ul p{
    font-size: 1em;
    min-height: 40%;
}

#presentazioneFeatures li {
    flex: 0 1 45%;
    min-width: 45%;
}

#presentazioneFeatures ul img {
    vertical-align: text-top;
}

/*
--------------------------------------- ARGOMENTI ----------------------------------------------
------------------------------------------------------------------------------------------------
*/

#argomenti > div {
    padding: 1em 0 1em 0;
    margin: 2em auto 2em auto;
    display: block;
}

#argomenti #aboutReport {
    margin-top: 1.5em;
}

#argomenti img{
    display: none;
    /*display: block;
    width: 15em;
    height: 15em;
    margin: auto;
    padding: 0.5em;
    flex: 1 1 auto; */
}
#argomenti .testoArgomento{
    padding: 0;
}

#aboutPersonaggio .testoArgomento h2{
    padding-bottom: 0.5em;
}
#bodyHome #argomenti .testoArgomento{
    max-width: 85%;
}
.about ol{
    margin: 0.2em 10%;
    display: block;
}
.about li{
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    list-style-type: decimal;
}

#argomenti .howTo {
    padding: 1.5em 0.7em 5em 0.7em;
    width: calc(100% - 1.4em);
}
.howTo li{
    padding-bottom: 1em;
}
.howTo li:before{
    left: -0.5em;
}

.howTo h2{
    text-align: left;
}


/*
------------------------------------- APPROFONDIMENTI ------------------------------------
------------------------------------------------------------------------------------------------
*/

#approfondimenti{
    margin-top: 2em;
    padding-bottom: 3em;
}
#approfondimenti h2{
    font-size: 2.3em;
    padding-bottom: 0.3em;
}

#approfondimenti ul{
    justify-content: space-around;
    width: 100%;
}
#approfondimenti li{
    min-width: 42%;
    margin-top: 1em;
    width: 100%;
    height: 100%;
}

#approfondimenti li a{
    height: 4em;
    line-height: 4em;
}

#approfondimenti li a:after {
    content: "";
    display: block;
    border-radius: 1em;
    background-image: url(../img/sfondo_approfondimenti.png);
    background-position: center;
    height: 100%;
    z-index: -1;   
    position: relative;
    top:-100%;
  }
#approfondimenti a > span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 0.5em;
    font-weight: 800;
    color: #FFFFFF;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                            APPROFONDIMENTI HTMLS
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.htmlApprofondimento #intestazionePagina{
    padding-bottom: 0;
}

.htmlApprofondimento .content{
    width: 80%;
    padding-bottom: 10%;
}


.htmlApprofondimento .howTo{
    width: calc(55% + 180px - 1.5em);
    padding: 1.5em;
    padding-top: 0.5em;
    margin-top: 0;
}

.htmlApprofondimento .howTo img{
    padding-top: 2em;
    width: 85%;
}

#contentEsplora ol{
    width: 80%;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                AREA PERSONALE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#areaPersonale section >header{
    margin-left: 3%;
    margin-bottom: 0;
}


/*
------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA INFO UTENTE
------------------------------------------------------------------------------------------------------------
*/

#viewInfoUser > div > div{
    width:8em;  
    height: 8em;
    padding: 0.5em;
}
#viewInfoUser dl  {
    width: 95%; 
    padding-bottom: 0;
    padding-left:0;
}
#viewInfoUser dd{
    float: left;
    width: calc(100% - 12em);
}

/*
#viewInfoUser > div {
    width: 98%;
    padding-top: 1em;
    padding-bottom: 1.6em;
}

#viewInfoUser dl  {
    width: 90%; 
    padding-bottom: 0;
    padding-left:0;
}

#viewInfoUser dt {
    width: 40%;
    padding-bottom: 1em;
}

#viewInfoUser dd {
    width: 50%;
    float: left;
    padding-bottom: 1em;
    white-space: nowrap;
    overflow: auto;
    text-overflow: clip;
}



*/

#viewInfoUser img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #dfdfdf;
}

/* ?????
#viewInfoUser input {
    border-style: none;
    background: none;
    font-size: 1em;
    text-align: left;
}
 ????? */


/*
------------------------------------------------------------------------------------------------------------
                                                AREA DASHBOARD
------------------------------------------------------------------------------------------------------------
*/

/*----------------------- HEADERS GENERICI DELLA DASHBOARD--------------------------
*/


#reportMaster .box, #reportPartecipante .box{
    min-height: 20em;
}

#dashboard h3{
    font-size: 1.5em; /*TO FIX */
}

#dashboard h2, #viewInfoUser h2{
    font-size: 1.8em;
    padding-bottom: 0.3em;
}

#dashboard .buttonLink, #viewInfoUser .buttonLink{
    margin-right: 2%;
    margin-top: 0;
    width: auto;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

/*------------------------------------- PERSONAGGI ---------------------------------------------
------------------------------------------------------------------------------------------------
*/

#personaggiUtente{
    padding-top: calc(2% + 2em);
    padding-bottom: calc(2% + 3em);
    border-bottom: 1px solid #5f3f1738;
    margin-bottom: calc(2% + 2em);;
}

#personaggiUtente .box{
    width: 95%;
    margin: 1em auto;
}
#personaggiUtente .cards{
    width: calc(100% - 1em);
    justify-content: space-around;
}


/*------------------------------------- REPORTS ------------------------------------------------
------------------------------------------------------------------------------------------------
*/

.listeReport{
    width: 98%;
}

.listeReport > div{
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    min-width: 50.1%;
}

.listeReport #reportMaster {
    margin-right: 0;
}

.listeReport #reportPartecipante{
    margin-left: 0;
}

.report .box{
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 0.1em;
}

.report .cards li{
    min-width: 0;
}

/*--------------------------- ESPANDI REPORTS -------------------
*/
/* TO FIX (MAYBE)

/*--------------------------- CARDS REPORTS -------------------
*/
/* TO FIX */
.report .cards li{
    height: 10.5em;
}
.report .cardReport .testoCardRep{
    height: calc(7.4em + 1px);
    padding-top: 0.2em;
    padding-bottom: 0.4em;
 }
 .report .cardReport .publicazione{
    top: calc(-10.4em - 2px);
}

#areaPersonale .testoCardRep > div button, #bodyEsplora .testoCardRep > div button{
    width: 3.7em;
    top:-0.2em;
}

 /*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                ESPLORA
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/
#esploraWrapper{
    width: calc(100% - 1em);
    margin:auto
}
#bodyEsplora #intestazionePagina{
    padding-bottom: 1em;
}

/*------------------------------------- REPORTS ------------------------------------------------
------------------------------------------------------------------------------------------------
*/

#reportEsplora {
    padding-top: 1em;
}

#reportEsplora form {
    width: 100%;
}

/*------------------------------------- ASIDE ------------------------------------------------
------------------------------------------------------------------------------------------------
*/

#esploraAside {
    width: calc(75% + 110px);
}

#esploraAside li {
    margin: 0;
    margin-bottom: 1.5em;
}


 /*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                        CREAZIONI
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.attenzioneP{
    padding-top: 0.7em;
}

#creazionePersonaggio #intestazionePagina, #creazioneReport #intestazionePagina{
    padding-bottom: 1em;
}

#datiUtenza .counter{
    margin-top: 0.5em;
    margin-right: 3em;
}

.creazioneFields fieldset {
    width: calc(100% - 2em);
    padding: 0em 1em 1em;
    margin-bottom: 2.5em;
/*    flex-direction: column-reverse; TO FIX (CONSIDER)*/
}

.creazioneFields .fieldss > p{
    padding: 0 1em;
    max-width: 95%;
}

.creazioneFields .fieldss > div{
    padding: 0.3em 1.5em;
    max-width: 95%;
}

.creazioneFields fieldset legend{
    padding-bottom: 0;
}

/* TO FIX
textarea,input[type="text"],input[type="date"],input[type="password"]{
    resize: none;
    padding:0.5em;
    border: 1px solid #392D20;
    border-radius: 0.3em;
    width: 25em;
}
*/

/*
---------------------------------------------------------------------------------------------------------------------------------
                                                        AUTENTICAZIONE OVERLAY  
---------------------------------------------------------------------------------------------------------------------------------
*/ /* TO FIX

#AutenticazioneOverlay {
    position: fixed;
    /-*display: none;  *-/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

#popUpAutenticazione{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: #fff7e6;
    padding: 2em;
    padding-top: 1.7em;
    width: 40%;
    min-width: 22em;
    border-radius: 1.5em;
}
#popUpAutenticazione h2{
    font-size: 1.5em;
}
#popUpAutenticazione h1{
    font-size: 2.6em;
    padding-bottom: 0.25em;
}
#popUpAutenticazione a{
    display: inline-block;
    flex: 1 1 10em;
    margin:1em;
    text-decoration: none;
}
#popUpAutenticazione form > div{
    display: flex;
    padding-bottom: 1.5em;
    padding-top: 1em;
}
#popUpAutenticazione #annullaSalvataggio{
    height: 2.2em;
    width:13em;
    margin-left:1em;
}
#closeSalvataggio{
    top:-5em;
    left: 2.5em;
}
*/
 /*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                CREAZIONE PERSONAGGIO
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/


#creazionePersonaggio .creazioneFields legend h2 {
    padding-bottom: 0;
}

#creazionePersonaggio .fieldss label{
    padding-bottom: 0.5em;
}

#creazionePersonaggio ol{
    width: calc(55% + 200px);/*calc(60% + 10em);*/
}

#creazionePersonaggio .fieldss > p {
    padding: 0.7em;
    margin-top: 0.3em;
    max-width: 90%;
}

#creazionePersonaggio .fieldss h3{
    margin-bottom: 0.3em;
}

.creazioneFields #nomeField input{
    margin-bottom: 0.3em;
}

#submitPersonaggio{
    margin-top: 3em;
}

#creazionePersonaggio fieldset.traitField legend h2{
    margin-bottom: 0.2em;
}

#creazionePersonaggio fieldset.traitField > p{
    padding: 0.7em;
}

#creazionePersonaggio fieldset.traitField > p:nth-child(2){
    padding-bottom: 0.2em;
}


#traitsWrapper {
    padding-top: 0;
}

#traitsWrapper label{
    padding-bottom: 0;
}

#traitsWrapper textarea{
    height: 5em;
}

.traitsCard {
    margin: 0 0.7em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                CREA REPORT SESSIONE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#creazioneReport ol{
    width: calc(55% + 210px);
}

#creazioneReport #immaginiRepo > div{
    max-width: 100%;
    padding: 1.2em 2em;
}

#creazioneReport .creazioneFields #contenutoRepo textarea{
    height: 6em;
}

/*
------------------------------------- BOX GIOCATORI ------------------------------------
*/

#creazioneReport #selezionamentoGiocatori{
    max-width: 100%;
}

#selezionamentoGiocatori #inserimentoGiocatori input[type="submit"]{
    width: 7.5em;
}

#creazioneReport #selezionamentoGiocatori > div:first-child{
    padding: 0.5em;
    width: 100%;
} 

#creazioneReport #selezionamentoGiocatori ul{
    width: 90%;
    margin: auto;
}

#creazioneReport #selezionamentoGiocatori ul li{
    padding-right: 0;
    margin: 0 1%;
}


/*
------------------------------------- CONCLUSIONE------------------------------------
*/

#conclusione{
    padding-top: 0;
}

#conclusione >div{
    margin:auto;
    padding: 0.5em;
}

#conclusione #condivisione{
    margin-top: 1em;
    margin-bottom: 2em; 
}

#conclusione #submitReport{
    padding: 0.5em 1.2em;
    margin-bottom: 4em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                MODIFICA DATI PERSONALI E LOGIN
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#modificaDati #intestazionePagina{
    padding-bottom: 1em;
}

.userFields fieldset{
    width: calc(90% - 0.5em);
    padding-bottom: 1em;
}

form#datiPassword .submitForm{
    width: calc(50% + 10em);
}

form#datiUtenza fieldset{
    margin-bottom: 2em;
}

#modificaPassword{
    border-top: 3px solid #3b2a1538;
    padding-top: 2em;
}

form#datiUtenza{
    width: calc(60% + 10em);
    padding: 0;
    margin: auto; /* can't remove ?????????????????????????????? */
}

#datiUtenza #username, #datiUtenza #future_username {
    width: 15em;
}

#datiAnagrafici{
    height: auto;
    padding-bottom: 1.5em;
    margin-top: 0;
}

#datiAnagrafici legend{
    margin-bottom: 0;
}

.userFields fieldset img {
    width: 9em;
    height: 9em;
    border: 3px solid #dfdfdf;
}

.userFields fieldset li{
    width: 80%;
    max-width:26em;
}

.userFields input[type="file"]{
    width: 80%;
    max-width: 20em;
    min-width: 15em;
}

#modificaDati .submitForm{
    min-width: 27em;
    text-align: center;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                HTML TRANSITORI
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.transitorio > div{
    width: calc(50% + 200px);
    padding: 0 1em;
}

.transitorio h1{
    font-size: 2.4em;
    padding-top:0.7em;
}

/*------------------------------------- LOGIN ------------------------------------------------
------------------------------------------------------------------------------------------------
*/

#loginBody > div {
    width: calc(50% + 200px);
    /*background-image: none; KEEP OR REMOVE ??? */
}

#loginBody h1{
    font-size: 3em;

}

#loginBody #submitLogin {
    justify-content: space-around;
}

#loginBody #submitLogin div >*{
    width: 10em;
}

#loginBody #submitLogin div{
    padding: 0;
    margin: 1em 0.5em;
}

/*------------------------------------- CONFERMA SALVATAGGIO ------------------------------------------------
------------------------------------------------------------------------------------------------
*/

#confermaBody h1, #confermaBody p {
    padding-left: 3%;
    padding-right: 3%;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA DOCUMENTO
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/
/* ????????? 
.documentoBody > header{
    background-color: #fff7e6;
    width: calc(100% - 1em);
    padding-right: 1em;
    margin:0;
}
*/

.documentoBody #content{
    /* TO FIX CONSIDER 44px 22px */
    width: calc(90% + 48px);    
    padding: 2em calc(5% - 24px);
    margin: auto;
}
/* DELETE
#closeDirettamente{
    width: 0;
    height: 0;
    position: relative; 
    left: 100%;
}

#closeDirettamente a{
    top:-3.5em;
    left: -3em;
    width: 2.5em; 
    height: 2.5em; 
    background-size: 2.5em 7.5em;
} */

#loginBody #closeDirettamente a{
    left: -2em;
}

#confermaBody #closeDirettamente a{
    left: -2em;
}

#visualizzaScheda #closeDirettamente a{
    top:-20.4em;
}

#visualizzaReport #closeDirettamente a{
    /*top: 0;  TO FIX CONSIDER*/
    top: -4em;
    left: -2em;
}


/*
--------------------------------------- DOCUMENT ACTIONS ----------------------------------------------
------------------------------------------------------------------------------------------------
*/
/* TO FIX ??
#DocumentActions{

    margin: auto;
}*/

#footAction{
    padding: 2.5em 3%;
}
#footAction input{
    width: 7em;
}

#footAction :nth-child(2) input{
    width: 12em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA REPORT SESSIONE
--------------------------------------------------------------------------------------------------------------------------------------
*/


#contentRepo{
    width: calc(100% - 2em - 4px); /* Border 2px */
    padding: 1.5em 1em;
}

/*
--------------------------------------- HEADER REPO ----------------------------------------------
*/

#contentRepo header{
    padding-bottom: 1.5em;
}
#contentRepo header h1{
    font-size: 2.6em;
    padding-bottom:0.1em;
}

/*
--------------------------------------- SEZIONI REPO ----------------------------------------------
------------------------------------------------------------------------------------------------
*/

#giocatoriReport{
    padding-top: 1.8em;
}

#giocatoriReport ul > li{
    padding:0.2em;
}

#contentRepo section#giocatori{
    margin-top:0.5em;
}


/*
--------------------------------------- InfoDiCreazioni ----------------------------------------------
*/

#contentRepo #infoDiCreazione{
    flex-direction: column;
    width:100%;
    padding-bottom: 0.7em;
}

#contentRepo #infoDiCreazione > section{
    flex: 0 1 auto; /* CANT REMOVE ? */
    width: 100%;
}

#contentRepo #infoDiCreazione section > *{
    width: 45%;
}
/* TO FIX ? */
#contentRepo #infoDiCreazione section :nth-child(1){
    text-indent: -20%;
}
/* TO FIX ? */
#contentRepo #infoDiCreazione section :nth-child(2){
    text-indent: -30%;
}

#contentRepo #infoDiCreazione #ultimaModifica{
    flex: 0 1 auto; /* CANT REMOVE ? */
    top: 0;
}

#contentRepo #infoDiCreazione #ultimaModifica > *{
    width: 45%;
}

#contentRepo #autore > h2{
    top:-1em;
}

/*
--------------------------------------- COMMENTI REPO ----------------------------------------------
------------------------------------------------------------------------------------------------
*/

#commentiField{
    margin-top: 1em;
    margin-bottom: 1em;
}

#commentiField legend >h2{
    font-size: 1.6em;
}

#commentiField #InserimentoCommento{
    margin: 0;
    margin-bottom: 1.5em;
}
/* TO FIX ? margin ? (~630px)*/
#commentiField #InserimentoCommento input[type="submit"]{
    margin-right: 1em;  
    width: 8.5em;
}
#commentiField #InserimentoCommento input[type="text"]{
    width: 23em;
}

#commentiField li{
    padding-bottom: 0.7em;
}

#commentiField li .badgeUtente{
    padding: 0;
    padding-top: 0.7em;
}

#commentiField li .testoCommento{
    margin-left: 0.5em;
    width: calc(100% - 9.5em);
}

#commentiField li > input{
    float: right;
    margin-left:0.5em;
    top: 0.5em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA SCHEDA PERSONAGGIO
--------------------------------------------------------------------------------------------------------------------------------------
*/

#visualizzaScheda #content{
    padding-top: 1em;
}

#visualizzaScheda #setLayout{
    padding-bottom: 1em;
}

#contentPersonaggio.pergamena h1 {
    width: auto;
}

#contentPersonaggio.pergamena dt{
    margin-right: 1em;
}

.pergamena #infoBreviPersonaggio {
    padding-bottom: 0;
}

.pergamena #infoBreviPersonaggio dl {
    padding-bottom: 0;
}

.pergamena #infoBreviPersonaggio dd{
    font-size: 1.4em;
}

.pergamena #infoBreviPersonaggio dl div >*{
    margin-top: 0.5em;
}

.pergamena #infoBreviPersonaggio img{
    width: 18em;
    padding: 1.5em 1em 0;
    /*display: none; */
}

.pergamena #sezTestualiPersonaggio{
    top: 0;
}

#contentPersonaggio.scheda {
    width: 100%;
    border: none;
}

#contentPersonaggio.scheda h1 {
    font-size: 2.9vw;
}

#contentPersonaggio.scheda #infoBreviPersonaggio {
    font-size: 3.2mm;
}

#contentPersonaggio.scheda #sezTestualiPersonaggio {
    font-size: 1.3vw;
}


#contentPersonaggio.scheda h1, #contentPersonaggio.scheda #infoBreviPersonaggio{    
    white-space: nowrap;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                            PAGINE ERRORE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#body404 {
    width: auto;
}

.errorPage h1 {
    font-size: 4em;
    padding-top: 1em;
}

#body404 h1::after {
    width: 50%;
    height: 0;
    padding-bottom: 33.3%;    /* Aspect Ratio*/
    margin-bottom: 5%;
}

.errorPage section {
    width: calc(75% + 100px - 2em);
}

#errorBody h2 {
    display: inline-block;
    padding: 0.2em 0.6em 0;
}

.hidden {
    display: none !important;
}