/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                GENERALE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/
* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: Georgia, "Times New Roman", serif;
    text-align: justify;
    margin: auto;
    font-size: 1em;
    line-height: 1.5em; /* :( */
}

#intestazioneSito, #breadcrumb, .puntoInterrogativo, #closeDirettamente, img, #ritorna{ /*img in generale ? */
    display: none;
}

input, nav.espandi {
    display: none;
}
/* ?
#breadcrumb {

}
*/

h1 {
    font-size: 2.3em;
    margin: 1em 0;
    margin-bottom: 0.7em;
}

h2 {
    font-size: 1.8em;
/*    font-weight: normal;*/
}

a::after {
    display: inline-block;
    content: " [" attr(href) "] ";
    text-decoration: none;
    font-size: 90%;
}

.buttonLink{
    box-sizing: content-box;
    display: inline-block;
    text-decoration: underline;
    color: black;
    font-size: 0.9em;
    background-color: white;
    height: 1.6em;
    padding: 0.4em;
    border: 1px solid black;
    margin: 0.1em;
}

abbr {
    text-decoration: none;
}
abbr::after {
    content: " (" attr(title) ") ";
    font-size: 90%;
}

.campiObbligatori::before{
    content:"*";
    color: #da0000;
    font-size: 1.2em;
}

p.counter {
    display: none;
}

textarea {
    resize: none;
}

#globalFooter {
    display: none;
}

.text-errore {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0 auto 0.5em;
    /* color: red; WORTH ? */
}

.hidden {
    display: none !important;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                HOME PAGE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#copertina img, #copertina #angoliCornice, #features img, .about img, .howTo img, #approfondimenti, #starFeature {
    display: none;
}

#bodyHome #argomenti div {
    page-break-inside: avoid;
}

#bodyHome #intestazionePagina h1 {
    margin: 0 0 0.3em 0.7em ;
}

#intestazionePagina h3 { /* change HTML to h2 ? */
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    margin-left: 2.35em;
    margin-bottom: 0.6em;
}

#introduzione h2, #argomenti h2 {
    /* font-weight: normal; */
    margin: 0.5em 0;
    margin-bottom: 0.1em;
}

#presentazioneFeatures > p {
    font-style: italic;
}

#bodyHome li {
    width: 95%;
    margin: 0.1em auto;
}

#aboutReport li, #aboutPersonaggio li {
    list-style-type: disc;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                            APPROFONDIMENTI HTMLS
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.htmlApprofondimento .content {
    width: 90%;
    margin: auto;
}

.htmlApprofondimento section {
    margin: 1.9em auto;
}

.htmlApprofondimento p {
    margin: 0.5em auto;
}

.htmlApprofondimento #contentPersonaggio p {
    margin: 0.9em auto;
}

.htmlApprofondimento #whatsDeD p:nth-of-type(3) {
    text-align: center;
    text-indent: -9.5em;
    font-size: 1em;
}

.htmlApprofondimento li {
    margin: 0.7em 10% 0.7em 5%;
}

.htmlApprofondimento .ritorna {
    display: none;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                ESPLORA
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#bodyEsplora h2 {
    margin: 1em 0;
    margin-bottom: 0.5em;
}

#bodyEsplora p {
    margin: 0.5em 0;
}

#esploraAside {
    clear: both;
}

#esploraAside li {
    page-break-inside: avoid;
}

#bodyEsplora dt {
    font-size: 1.3em;
}

#bodyEsplora dd {
    width: 95%;
    margin: 0.25em auto;
}

#bodyEsplora #eventi dd + dd, #bodyEsplora #siti dd {
    margin-bottom: 0.5em;
}

#bodyEsplora dd + dd::before {
    content: "<"
}
#bodyEsplora dd + dd::after {
    content: ">"
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA REPORT SESSIONE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#visualizzaReport img, #visualizzaReport #InserimentoCommento, #visualizzaReport #ReportActions, #visualizzaReport li.commento button, #visualizzaReport input {
    display: none;
}

#visualizzaReport h2  {
    display: inline-block;
    font-size: 1.2em;
    margin: 0.5em 0;
}

#visualizzaReport h2::after  {
    content: ":";
}

#visualizzaReport .badgeUtente, #visualizzaReport .badgeUtente p, #visualizzaReport #ultimaModifica p, #visualizzaReport #giocatoriReport li,  #visualizzaReport #boxGiocatori {
    display: inline;
}

#visualizzaReport #giocatoriReport p {  /* Per non andare a capo spezzando nome */
    display: inline-block;
    margin: 0.1em 0 0.5em 0;
}

#visualizzaReport #infoDiCreazione p {
    margin-left: 0.5em;
}

#visualizzaReport #giocatoriReport p {
    margin-left: 0.7em;
}

#visualizzaReport #testoReport p {
    white-space: pre-wrap;
}

#visualizzaReport #commentiField {
    border: none;
}

#visualizzaReport #commentiField .testoCommento {
    padding: 0.2em 0.3em;
}

#visualizzaReport .commento .badgeUtente {
    font-size: 0.9em;
    padding: 0;
}

#visualizzaReport .commento .badgeUtente p {
    font-weight: bold;
}

#visualizzaReport li.commento {
    page-break-inside: avoid;
    margin: 0;
}

#visualizzaReport .testoCommento p.dateTimeCommento::before {
    content: "<";
}

#visualizzaReport .testoCommento p.dateTimeCommento::after {
    content: ">";
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                BOX reports
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.box ul, .cards{
    list-style: none;
}

.box button {
    display: none;
}

/* CANT USE CAUSE page-break-inside: avoid;  DOESNT WORK WITH FLEX APPARENTLY :)))))
*/
.box li.cardReport {
    page-break-inside: avoid;
    float:left;
    width: 45%;
    height: 7em;
    outline: 1px solid black;
    outline-offset: 4px;
    margin: 1.2em 2.5%;
}

.box li.cardReport h4{
    text-align: center;
}

.box li.cardReportPartecipante, .box li.cardReportEsplora {
    height: 8.5em;    /* SPAZIO PER AUTORE*/
}

.box li {
    page-break-inside: avoid;
    margin: 0.7em;
}

.box li > div {
    width: 100%;
    height: 100%;
}

.testoCardRep h4 {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4em;
    margin: 0.25em auto;
}

.testoCardRep p {
    max-height: 4.5em;
    overflow:hidden;
    text-overflow: ellipsis;
    padding: 0 0.3em;
    margin: 0 0.7em;
}

.box .publicazione, #areaPersonale .cards .badgeUtente img {
    display: none;
}

 .box li.cardReport .badgeUtente > * {
    display: inline-block;
    text-align: center;
    width: 25%;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

 .box li.cardReport .badgeUtente > img {
    display: none;
}

.cards footer {
    display: none;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                AREA PERSONALE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#areaPersonale .buttonLink {
    display: none;
}

/*
------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA INFO UTENTE
------------------------------------------------------------------------------------------------------------
*/

#areaPersonale h2, #areaPersonale p {
    margin: 0.5em;
}

#areaPersonale dl > * {
    margin: 0.25em 0 0.25em;
}

#areaPersonale dt {
    font-weight: bold;
    float: left;
    width: 25%;
    margin-left: 0.7em;
}

#areaPersonale dd {
    float: left;
    width: 70%;
}

/*
------------------------------------------------------------------------------------------------------------
                                                AREA DASHBOARD
------------------------------------------------------------------------------------------------------------
*/

#areaPersonale #personaggiUtente {
    clear: both;
}

#areaPersonale #personaggiUtente h2 {
    padding-top: 0.9em;
}

#areaPersonale .box ul .cardPersonaggio {
    text-align: center;
    page-break-inside: avoid;
    float:left;
    width: 30%;
    margin: 0.7em 1.666%;
    outline: 1px solid black;
    outline-offset: 4px;
}

#areaPersonale ul .cardPersonaggio > div {
    width: 100%;
}

#areaPersonale ul .cardPersonaggio h4 {
    font-size: 1.4em;
    padding-bottom: 0.3em;
}

#areaPersonale .cardPersonaggio dt, #areaPersonale .cardPersonaggio dd {
    width: 50%;
    margin: 0.2em 0;
}

#areaPersonale .cardPersonaggio .allineamento, #areaPersonale .cardPersonaggio .persAllineamento {
    width: 100%;
}

#areaPersonale .report, #areaPersonale #reportPartecipante {
    clear: both;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                HTML TRANSITORI
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.transitorio > div{
    max-width: 37em;
    padding: 0 1.5em 0 1.5em;
    margin:auto;
}

.transitorio h1{
    text-align: center;
    font-size: 2.6em;
    padding-top:0.5em;
    margin:auto;
    margin-bottom: 0.5em;
}

/*------------------------------------- LOGIN ------------------------------------------------
------------------------------------------------------------------------------------------------
*/
#loginBody {
    text-align: center;
}

#loginBody > div {
    margin-top: 20%;
}

#loginBody input{
    display: inline;
}

#loginBody .messErrore{
    width: 20em;
    margin:auto;
}

#loginBody h1{
    font-size: 3em;
}

#loginBody form label{
    font-size: 1.3em;
    font-weight: 500;
    display: block;
    text-align: center;
    padding: 0.4em 0;
}

#loginBody form > input{
    width:20em;
    margin:0 calc(50% - 10.5em) 3em;
}


#loginBody #submitLogin{
    width: 90%;
    display: flex;
    margin: auto;
    padding: 1em;
}

#loginBody #submitLogin div >*{
    width: 12em;
}

#loginBody #submitLogin div{
    margin:auto;
    padding: 1em;
}

/*------------------------------------- CONFERMA SALVATAGGIO ------------------------------------------------
------------------------------------------------------------------------------------------------
*/

#confermaBody > div{
    width: 80%;
    margin: 20% auto;
}

.corretto{
    font-weight: 500;
    color:green;
}
.scorretto{
    font-weight: 500;
    color:#7e0000;
}

#confermaBody p{
    text-align: center;
}

#refAreaPersConf{
    padding-top: 0.5em;
}

#confermaBody #linkVelociPostConferma{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
#confermaBody .buttonLink{
    margin-top: 2em;
    width: 100%;
    text-align: center;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                MODIFICA DATI PERSONALI E LOGIN
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#modificaDati input {
    display: inline-block;
    margin: 0.2em 0.5em 1em;
}

textarea,input[type="text"],input[type="date"],input[type="password"]{
    padding:0.5em;
    min-width: 20em;
}

.userFields fieldset{
    margin: 0.5em 1em;
}

form#datiUtenza{
    width: 100%;
}

form#datiUtenza > div:first-child {
    display: flex;
}

.userFields fieldset img {
    display: block;
    margin: 1em auto 0;
    width: 5em;
    height: 5em;
    border-radius: 6em;
}

#datiUtenza label[for="username"]{
    text-align: center;
}


.userFields fieldset label {
    padding-bottom: 0.2em;
    display: block;
    font-weight: bold;
}

.userFields fieldset li{
    list-style-type: none;
    text-align: center;
    margin:auto;
}

form#datiPassword {
    width: 90%;
    margin:auto;
    display: flex;
}

#datiUtenza #passField {
    width: 50%;
    margin: 1em auto;
}

form#datiPassword .submitForm {
    width: 25em;
    height: 7em;
}

#datiPassword .submitForm {
    margin-top: 9em;
}

.submitForm {
    text-align: center;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                        CREAZIONI
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.creazioneFields {
    width: 90%;
    margin: auto;
}

.creazioneFields legend h2 {
    font-size: 1.5em;
}

.creazioneFields input {
    display: inline;
}

.creazioneFields li {
    page-break-inside: avoid;
    list-style-type: none;
    margin: 1em auto;
}

.creazioneFields li > * {
    padding: 0.5em;
}

.creazioneFields li textarea {
    padding: 1em;
    margin: 1em;
}

.creazioneFields li fieldset label {
    display: inline-block;
    margin-top: 1em;
}

.submitForm {
    page-break-inside: avoid;
}

/*------------------------------------- CREAZIONE REPORT ------------------------------------------------
------------------------------------------------------------------------------------------------
*/

.creazioneFields li textarea {
    display: block;
    margin: 0.3em auto;
}

#selezionamentoGiocatori button {
    display: none;
}

#selezionamentoGiocatori ul {
    margin: 1em 0;
}

#selezionamentoGiocatori ul li {
    float: left;
    margin: 0;
    font-weight: bold;
}

#selezionamentoGiocatori div:first-child .badgeUtente {
    padding: 0;
    margin: 0.3em;
}

#conclusione #condivisione div {
    text-align: center;
    margin: 0.4em;
}

#conclusione #submitReport {
    margin-top: 1.7em;
}

/*------------------------------------- CREAZIONE PERSONAGGIO ------------------------------------------------
------------------------------------------------------------------------------------------------
*/

#nomeField div {
    text-align: center;
}

#nomeField label {
    margin: 0;
}

.traitField #traitsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.traitField #traitsWrapper li{
    width: 45%;
    text-align: center;
    margin: 0 0.7em 0.5em;
}

.traitField #traitsWrapper li textarea{
    width: 100%;
    padding: 1em 0;
    margin: auto;
    text-align: center; /* NOT inherited ?*/
}

/* TO FIX ??? */
#AutenticazioneOverlay {
    display: none;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA SCHEDA PERSONAGGIO
--------------------------------------------------------------------------------------------------------------------------------------
*/

#visualizzaScheda {
    max-height: 290mm;
    overflow: hidden;
}

#visualizzaScheda * {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/ 
}

#visualizzaScheda #content{
    padding: 0;
}

#visualizzaScheda #setLayout{
    display: none;
}

#contentPersonaggio.pergamena::before{
    content: "";
    display: block;
    width: 100%; 
    height: 197px; 
    background-image: url(../img/pergamena/pergamena_head.png);
    background-size: 100% 197px;
    position: absolute;
    top: 1mm;
}

#visualizzaScheda #contentPersonaggio.pergamena{
    max-width: 58em;
    margin: 83px auto 0;
    width: 100%; 
    max-height: 290mm;
    background-image: url(../img/pergamena/pergamena_body.png);
    background-size: 100% 100%;
    background-repeat: repeat-y;
}
#contentPersonaggio.pergamena p, #contentPersonaggio.pergamena h1, #contentPersonaggio.pergamena dd, #contentPersonaggio.pergamena dt, #contentPersonaggio.pergamena span{
    font-family: Garamond, serif;
    font-weight: 600;
    color: #331e06;
}

#contentPersonaggio.pergamena::after{
    content: "";
    display: block;
    width: 100%; 
    height: 135px;
    background-image: url(../img/pergamena/pergamena_foot.png);
    background-size: 100% 100%;
    position: relative;
    top: 40px;
}


#contentPersonaggio.pergamena > div:last-child{
    position: relative;
    top: 10mm;
    left: 5px;
    width: 85%;
    margin:auto;
}

#contentPersonaggio.pergamena h1{
    width: 14em;
    font-size: 2.5em;
    padding-top: 0.1em;
    margin-bottom: 1em;
}

#contentPersonaggio.pergamena dt{
    font-size: 1.8em;
    margin-right: 1em;
}
.pergamena #infoBreviPersonaggio dd{
    font-size: 1.3em;
}

.pergamena #infoBreviPersonaggio dl{
    float: left;
    width: calc(50%);
    flex-grow: 1;
    max-width: 25em;
    padding-bottom: 2em;
}
.pergamena #infoBreviPersonaggio div:first-child  dt{
    padding-top: 0;
}

.pergamena #infoBreviPersonaggio dl div >*{
    margin-top: 0.8em;
    display: inline-block;
}

.pergamena #infoBreviPersonaggio{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    position: relative;
    top:-1.5em;
    padding-bottom: 0;
}
.pergamena #infoBreviPersonaggio > *{
    margin:auto;
}

.pergamena #infoBreviPersonaggio img{
    position: relative;
    display: block;
    width: calc(50% - 2em);
    margin:auto;
    padding: 1em;
    top: -3mm;
}


.pergamena #sezTestualiPersonaggio{
    position: relative;
    top: -24mm;
    padding-bottom: 3em;
}

.pergamena #sezTestualiPersonaggio dl dt{
    padding-top: 0.5em;
}

.pergamena #sezTestualiPersonaggio dd{
    font-weight: 400;
    font-size: 1.3em;
    max-width: 120mm;
    white-space: pre-wrap;
    word-break: break-all;
}
.pergamena #sezTestualiPersonaggio dl > div{
    max-width: 38em;
    clear: both;
    overflow: hidden;
}
.pergamena #sezTestualiPersonaggio dl > div:nth-child(even){
    float: right;
}

#footAction {
    display: none;
}

/* ------------------------ SCHEDA ---------------------------------- */
#contentPersonaggio.scheda img, #contentPersonaggio.scheda dt  {
    display: none;
}

#contentPersonaggio.scheda {
    position: relative;
    background: url(../img/CharSheet.png); /* TO FIX-------SIZE !!!!!!!!------------------------------------------------------------------ */
    background-size: 210mm 297mm;
    width: 210mm;
    height: 290mm;
    margin:auto;
}

#contentPersonaggio.scheda h1 {
    position: absolute;
    top: 20mm;
    left: 22mm;
    font-size: 8mm;
    margin: 0;
}

#contentPersonaggio.scheda h1 {
    position: absolute;
    top: 21.5mm;
    left: 18mm;
    font-size: 8mm;
}

#contentPersonaggio.scheda #infoBreviPersonaggio {
    font-size: 5mm;
}

#contentPersonaggio.scheda #sezTestualiPersonaggio {
    font-size: 0.7em;
}

#contentPersonaggio.scheda * {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: normal;
    color: black;
}

#contentPersonaggio.scheda dd {
    position: absolute;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
}

#contentPersonaggio.scheda #class, #contentPersonaggio.scheda #background, #contentPersonaggio.scheda #race, #contentPersonaggio.scheda #alignment {
    top: 18mm;
    left: 94mm;
}

#contentPersonaggio.scheda #race, #contentPersonaggio.scheda #alignment {
    top: 27.5mm;
}

#contentPersonaggio.scheda #alignment, #contentPersonaggio.scheda #background {
    left: 129mm;
}

#contentPersonaggio.scheda #pers-traits, #contentPersonaggio.scheda #ideals, #contentPersonaggio.scheda #bonds, #contentPersonaggio.scheda #flaws {
    width: 53mm;
    top: 52mm;
    left: 143.5mm;
    height: 13mm;
}

#contentPersonaggio.scheda #pers-traits {
    height: 20.2mm;
}
#contentPersonaggio.scheda #ideals {
    top: 78mm;
}

#contentPersonaggio.scheda #bonds {
    top: 99mm;
}

#contentPersonaggio.scheda #flaws {
    top: 119.5mm;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                            PAGINE ERRORE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

body.errorPage {
    text-align: center;
}

.errorPage h1 {
    padding-top: 0.8em;
    font-size: 4em;
}

.errorPage section {
    width: 75%;
    margin: 0 auto;
}

.errorPage header h2 {
    padding: 1em;
}

#body404 section h3 {
    font-size: 1.7em;
    padding: 1em;
}

.errorPage section p {
    font-size: 1.2em;
}

#body404 section p {
    padding: 0.5em; /* 1em se rimuovi secondo p*/
}

#errorBody section p {
    padding: 3em 0 1.5em;
}

#errorBody li {
    display: inline-block;
    list-style-type: none;
    margin: 0em 0.2em;
}

#errorBody p a::after {
    display: none;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                            INFO DA FOOTER
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

dl#contenutoInformativa {
    width: 90%;
    margin: auto;
}

dl#contenutoInformativa dt {
    font-size: 2em;
    margin: 2em auto 0.5em;
}

dl#contenutoInformativa a{
    display: block;
    margin-top: 0.3em;
}

dl#contenutoInformativa a::after {
    display: none;
}