/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                GENERALE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/
p,li{
    font-size: 0.95em;
}
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
}
body{
    margin-top: 3.6em;
}
#loginBody{
    margin-top: 0;
}

h3 {
    font-size: 1.3em;
    padding-bottom: 0.2em;
}

#intestazionePagina h1 {
    font-size: 2.2em;
    margin-bottom: 0.2em;
}

/*TO FIX */
.buttonLink {
    width:20em;
    height: 2.7em;
}
/*TO FIX */
a.buttonLink {
    padding-top:0.5em;
    height: 2.2em;
}
/*TO FIX */
input[type="file"]{
    width: 20em;
}

/*TO FIX */
/* textarea,input[type="text"],input[type="date"],input[type="password"] {
    
} */

#breadcrumb {
    display: block;
    width: calc(100% - 15.5em);
    position: fixed;
    top:0;
    left: 4em;
    font-size: 1em;
    font-weight: 400;
    margin-top: 0.3em;
    background-color: transparent;
}
#breadcrumb li:not(#breadCCurrent){
    display: none;
}
#breadcrumb li+li::before {
    display: none;
}
#breadcrumb li:first-child::before{
    content: "";
}
#breadcrumb:before{
    content: "Ti trovi in:";
    font-size: 0.8em;
    display: block;
    margin:auto;
}

.submitForm a, .submitForm input{
    width: 8em;
}

 .hidden {
    display: none !important;
}

/*
--------------------------------------- HEADER ----------------------------------------------
---------------------------------------------------------------------------------------------
*/
#hamburger{display: inline;}

#intestazioneSito #menu > li:last-child{
    position: relative;
    width: 100%;
    top:6.5em;
}
#creazioneReport #menu > li:last-child, #creazionePersonaggio #menu > li:last-child{
    top:3em;
}
#intestazioneSito #menu > li ul{
    background-color: #3b3835;
}
#intestazioneSito{
    max-height: 3.3em;
    z-index: 3;
}
#intestazioneSito #menu{
    width: calc(100% + 2px);
    margin-left: 0;
    background-color: #3b3835;
    font-weight: 500;
    z-index: 4;
}
#menu{
    display: block;
}
#intestazioneSito #menu.hideForHamburger{
    display: none;
}

#intestazioneSito #menu #currentLink{
    display: none;
}
#intestazioneSito #menu > li {
    display: block;
    text-align: center;
}
#intestazioneSito #menu .dropdown{
    width: 100%;
    text-align: left;
    padding:0.2em 1em;
    background-color: rgb(48, 44, 44);
    color:#ebebeb;
    font-weight: 400;
}
#intestazioneSito #menu > li:not(:last-child) li{
    min-width: 16.4em;
}
#intestazioneSito  #menu .dropdown-content{
    display: flex;
    flex-wrap: wrap;
    position: inherit;
    box-shadow: none;
}
#intestazioneSito #menu .dropdown-content li{
    width: calc(50% - 2em);
    min-width: 14.2em;
    margin:auto;
}
#intestazioneSito #menu .dropdown-content li a{ 
    background-color: #3b3835;
    text-align: center;
    border-top: none;
    font-size: 1.15em;
}
#intestazioneSito #menu li a:hover{
    background-color: #464441;
}
#intestazioneSito #menu li a{
    text-decoration: underline;
}
#intestazioneSito #menu > li a, #intestazioneSito .dropdown{
    padding: 1em;
    font-size: 1.1em;
}
#intestazioneSito .dropdown{
    cursor: default;
}

 #breadcrumb #breadCCurrent{
    position: fixed;
    top:2.4em;
    font-size: 0.8em;
    display: block;
    width: calc(100vw - 19em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#intestazioneSito #access{
    position: absolute;
    right: 0;
    top:0;
    width:9.5em
}
#access input{
    margin-top: 0.38em;
    width: 4.5em;
    height: 2.5em;
}
#intestazioneSito > a{
    background: black;
    display: block;
    width: 3.3em;
    height: 3.3em;
    background-image: url(../img/hamburger_icon.png);
    background-position: center;
    background-size: 3em 3em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                        HOME
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#copertina{
    height: calc(20em + 30px);
    background-color: #000000;
}

#copertina img{
    position: relative;
    display:block;
    width: 1000px;
    height: calc(20em + 30px);
    left: calc(100% - 1000px);
    z-index: 1;
}

#personaggiCoperina{
    left: calc(100% - 460px);
    position: relative;
    margin-top: 0;
    top:-305px;
    z-index: 2;
}

#copertina header{
    z-index: 2;
    padding: 0;
    position: relative;
    top:calc(-15em -  300px);
}
#personaggiCoperina{
    display: none;
}
#bodyHome #copertina #starFeature{
    z-index: 2;
    margin-left: 0.25em;
    position: relative;
    width: calc(100% - 1.5em);
    top: -305px;
    background-color: #275c13c7;
    left: 0;
    float: none;
    clear: both;
    padding: 0.5em;
    border-radius: 2em;
}
#bodyHome #copertina #titolo::after{
    top: 4.2em;
    left: calc(10000px + 50vw - 2.5em);
    width: 5em;
    height: 1.64em;
    background-size: 5em 1.64em;
}
#bodyHome #copertina #starFeature > dt{
    width: 100%;
    text-align: center;
}
#bodyHome #copertina #starFeature > dd{
    float:none;
    width: 100%;
}
#bodyHome #copertina #starFeature > dd a{
    margin:auto;
}
#bodyHome #copertina #starFeature dt:nth-child(3){
    padding-top: 0.6em;
}
#bodyHome #copertina #titolo{
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    font-size: 3em;
    margin-bottom: 0.4em;
    padding: 0em;
}

/*
--------------------------------------- PRESENTAZIONE FEATURE ----------------------------------------------
------------------------------------------------------------------------------------------------------------
*/
#indicazioneUsoFeature{
    padding-top: 2em;
    display: block;
}
#presentazioneFeatures div{

    background-color: #fffdfa;
    margin:auto;
    border: 8px inset #dfdfdf;
    border-radius: 0.5em; 
    width: calc(100% - 4em);
    padding-top: 0em;
    height: 15em;
    overflow: scroll;
}
#presentazioneFeatures #features{
    width: 100em;
}
#presentazioneFeatures #features li{
    flex:0 0 14em;
    min-width: 14em;
}

#approfondimenti a > span{
    font-size: 0.7em;
}

.howTo .buttonLink{
    width: 14em;
    height: 3.5em;
}
.howTo li:before{
    padding-bottom: 1em;
}
#bodyHome h2:not(#footerContent > h2){
    font-size: 1.8em;
}





/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                ESPLORA
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

/*
------------------------------------------------------------------------------------------------------------
                                                ASIDE
------------------------------------------------------------------------------------------------------------
*/

#esploraAside li p{
    display: none;
}


#eventi dt {
    padding-left: 0em;
}

#eventi dd {
    display: list-item;
    list-style-type: none;
}

#esploraAside{
    min-width: 0;
}
/*
------------------------------------------------------------------------------------------------------------
                                                REPORTS
------------------------------------------------------------------------------------------------------------
*/

#reportEsplora.report{
    padding-top: 0;
}

#reportEsplora header{
    font-size: 0.8em;
}

#reportEsplora h2{
    padding-bottom: 0.4em;
}
#reportEsplora{
    min-width: 70%;
}
.report .espandi {
    font-size: 1em;
    max-width: calc(100% - 1em);
}
.report .espandi label{
    text-decoration: underline;
}
.report .espandi li.inputMove input{
    border-color: transparent;
    border-width: 0;
    width: 0.1em;
    height: 0.1em;
}
/*
------------------------------------------------------------------------------------------------------------
                                                CARD REPORT
------------------------------------------------------------------------------------------------------------
*/

.report .cards li{
    height: 11em;
}
#reportMaster .cardReport footer {
    top: calc(0.2em + 5px);
}
.report .cards .badgeUtente img{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.report .cards .testoCardRep{
    height: 7.5em;
}
.report .cards .testoCardRep p{
    font-size: 1em;
}
.report .cardReport .publicazione{
    top: calc(-11em + 4px);

    width: calc(27% - 1.2em);
    min-width: 4em;
    height: calc(100% - 10px - 3.5em);
}
.report .cardReport div.publicazione button{
    border-radius: 0.3em;
    border-bottom-left-radius: 1em;
}
/*
------------------------------------------------------------------------------------------------------------
                                                DISCLAIMER
------------------------------------------------------------------------------------------------------------
Da qui in poi è contenuto che esisteva già prima e non so a cosa serviva... nel dubbio commentare
*/

#argomenti > div {
    margin: 7% auto 0 auto;
}
#argomenti img{
    padding: 0;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                AREA PERSONALE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#dashboard h2, #viewInfoUser h2{
    padding-bottom: 0.6em;
}
#viewInfoUser dt {
    padding-bottom: 0;
}
#viewInfoUser dd{
    float: none;
    width: 100%;
    text-align: right;
    padding-bottom: 0;
    margin-bottom: 2em;
    border-bottom: 1px solid #cccccc;
}
#dashboard #personaggiUtente h3{
    display: none;
}
#areaPersonale .listeReport{
    margin-top:0.8em;
}

#personaggiUtente .cardPersonaggio{
    font-size: 1em;
}



/*
------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA INFO UTENTE
------------------------------------------------------------------------------------------------------------
*/


#viewInfoUser div:nth-child(3) {
    height: 14em; 
    /*display: flex;*/
    /*justify-content: center;*/
    margin: 2em 1em 2em 1em;

}

#viewInfoUser div div:nth-child(2)  {
    max-width: 50%;
    /*flex: 1 0;
    display: flex;
    flex-direction: column;*/
    margin-left: 10%;
}

#viewInfoUser img {
    max-width: 17em;
    /*flex: 1 0;*/
}

#viewInfoUser h1 {
    font-size: 3em;
    font-weight: bold;
}

#viewInfoUser h3 {
    font-weight: bold;
    padding: 0em;
}

#viewInfoUser input {
    border-style: none;
    background: none;
    font-size: 1em;
    text-align: left;
}

#viewInfoUser input[name="email"] {
    width: 15em;
}

#viewInfoUser label {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    width: 40%;
}

#viewInfoUser fieldset {
    border-style: none;
    width: 100%;
    max-height: 20%;
    margin-bottom: 1em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                            APPROFONDIMENTI HTMLS
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.htmlApprofondimento .content{
    width: calc(100% - 2em);
    padding-bottom: 15%;
}

.htmlApprofondimento h2{
    padding-bottom: 0.2em;
}

.htmlApprofondimento p{
    padding-bottom: 0.5em;
}

.htmlApprofondimento section{
    width: 95%;
    padding-bottom: 1em;
    margin: auto;
}

.htmlApprofondimento .howTo{
    width: calc(100% - 2.6em);
    padding: 1.3em;
    padding-top: 0.5em;
    margin: 0;
}

.htmlApprofondimento .howTo li:before {
    left: -2.2em;
    top:3em;
}

.htmlApprofondimento .howTo img{
    display: none;
}

#contentEsplora ol{
    width: 95%;
    margin-left: 5%;
}


/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                        CREAZIONI
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.creazioneFields fieldset {
    width: calc(95% - 2em);
}

.creazioneFields .fieldss > p{
    padding: 0 1em;
    max-width: 95%;
}

.creazioneFields .fieldss > div{
    padding: 0.3em 1.5em;
    max-width: 95%;
}

.creazioneFields fieldset legend{
    padding-bottom: 0;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                CREAZIONE PERSONAGGIO
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#creazionePersonaggio ol{
    width: 100%;
}

#creazionePersonaggio .fieldss > p {
    padding: 0.5em;
    max-width: 95%;
}

#nomeField div{
    width: 100%;
}

.creazioneFields #nomeField input{
    display: block;
    width: 10em;
    margin: 0.2em auto;
}

#submitPersonaggio{
    margin-top: 2.5em;
}

#creazionePersonaggio fieldset.traitField > p{
    padding: 0.4em;
}

.traitsCard {
    margin: 0 0.7em;
}

.traitsCard textarea {
   width: calc(100% - 1em - 1px);
}

#submitPersonaggio{
    padding:1em;
}

#submitPersonaggio p{
    width: 90%;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                CREA REPORT SESSIONE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#creazioneReport ol{
    width: 100%;
}

#creazioneReport #immaginiRepo > div{
    max-width: 100%;
    padding: 1.2em 2em;
}

#creazioneReport .creazioneFields #contenutoRepo textarea{
    height: 6em;
}

/*
------------------------------------- BOX GIOCATORI ------------------------------------
*/
#inserimentoGiocatori{
    width: 100%;
}

#selezionamentoGiocatori #inserimentoGiocatori input[type="text"]{
    text-align: center;
    display: block;
    padding: 0.4em 0.5em 0.4em 0.5em;
    margin: auto;
}

#selezionamentoGiocatori #inserimentoGiocatori input[type="submit"]{
    display: block;
    margin: 1em auto 0;
}

#creazioneReport #selezionamentoGiocatori > div{
    padding: 0;
}

#creazioneReport #selezionamentoGiocatori ul{
    width: calc(100% - 1em);
    padding: 0;
    border: 6px inset #dfdfdf;
    overflow: scroll;
    margin: 1em auto;
    height: 11em;
}

#creazioneReport #selezionamentoGiocatori ul li{
    width: 100%;
    margin: auto;
}

#creazioneReport #selezionamentoGiocatori ul li:not(:last-child){
    border-bottom: 2px solid rgb(211, 211, 211);
    border-collapse: collapse;
}

#creazioneReport #selezionamentoGiocatori .badgeUtente {
    display: flex;
    text-align: left;
    width: 100%;
    height: auto;
    margin: 0;
}

#creazioneReport #selezionamentoGiocatori .badgeUtente div{
    display: inline-block;
    width: calc(100% - 1em - 35px);
}

#creazioneReport #selezionamentoGiocatori .badgeUtente img{
    vertical-align: middle;
    margin: 10px 10px;
}

#creazioneReport #selezionamentoGiocatori .badgeUtente p{
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: calc(100% - 5.5em - 26px);
    padding: 0;
    margin: 0;
}

#creazioneReport #selezionamentoGiocatori .badgeUtente .deleteButton{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 40%;
    position: static;
    margin: 22px 5px 0 0;
}


/*
------------------------------------- CONCLUSIONE------------------------------------
*/

#conclusione{
    padding-top: 0;
    width: 100%;
}

#conclusione #condivisione h3{
    font-size: 1.3em;
    width: 100%;
}

#conclusione #condivisione > div{
    margin:auto;
    font-size:1.2em;
    width: 100%;
}

#conclusione #submitReport {
    border-radius: 3em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                MODIFICA DATI PERSONALI E LOGIN
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.userFields fieldset {
    width: calc(100% - 2em);
}

.userFields .submitForm {
    min-width: 0;
    width: 95%;
}

#modificaDati .submitForm {
    min-width: 0;
    border-radius: 2.5em;
}

form#datiUtenza fieldset{
    margin-bottom: 2em;
}

form#datiUtenza{
    width: 95%;
}

.userFields fieldset img {
    width: 7em;
    height: 7em;
}

.userFields fieldset li{
    width: 95%;
}

#modificaDati #sign-up_form .buttonLink {
    width: 9.5em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA DOCUMENTO
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.documentoBody #content{
    width: 100%;    
    padding: 1em 0;
}

/*
--------------------------------------- DOCUMENT ACTIONS ----------------------------------------------
------------------------------------------------------------------------------------------------
*/

#footAction input{
    width: 6em;
}

#footAction :nth-child(2) input{
    width: 6em;
}

#footAction :nth-child(3) {
    margin: 0 0.7em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA REPORT SESSIONE
--------------------------------------------------------------------------------------------------------------------------------------
*/


#contentRepo{
    width: calc(100% - 0.6em - 4px); /* Border 2px */
    padding: 1.5em 0.3em;
    text-align: center;
}

/*
--------------------------------------- HEADER REPO ----------------------------------------------
*/

#contentRepo header{
    padding-bottom: 0.3em;
}

/*
--------------------------------------- SEZIONI REPO ----------------------------------------------
------------------------------------------------------------------------------------------------
*/

#giocatoriReport {
    padding-top: 1em;
}

#giocatoriReport ul {
    padding-bottom: 0.5em;
}

/*
--------------------------------------- InfoDiCreazioni ----------------------------------------------
*/

/* TO FIX ? */
#contentRepo #infoDiCreazione section :nth-child(1){
    text-indent: 0;
}
/* TO FIX ? */
#contentRepo #infoDiCreazione section :nth-child(2){
    text-indent: 0;
}

#contentRepo #autore > h2{
    top: -0.6em;
}

/*
--------------------------------------- COMMENTI REPO ----------------------------------------------
------------------------------------------------------------------------------------------------
*/

#commentiField {
    text-align: left;
    width: calc(98% - 0.6em);
    padding: 0 0.3em 0.3em;
}

#commentiField #InserimentoCommento input[type="text"]{
    width: 90%;
    margin: auto;
}

#visualizzaReport #footAction :nth-child(2) input{
    width: 10.3em;
    margin-top: 1.7em;
}
#footAction :nth-child(3) {
    float: left;
    display: block;
    width: 50%;
    margin: 0;
}
#visualizzaReport #footAction :nth-child(3) input{
    margin-top: 1em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA SCHEDA PERSONAGGIO
--------------------------------------------------------------------------------------------------------------------------------------
*/

#visualizzaScheda #content {
    padding-top: 0;
}

#visualizzaScheda #setLayout{
    padding-bottom: 0;
}

#visualizzaScheda #setLayout p {
    padding-bottom: 0;
}

#visualizzaScheda #pulsante{
    font-size: 0.8em;
}

#visualizzaScheda #content .pergamena{
    padding-bottom: 3em;
}

#contentPersonaggio.pergamena h1{
    position: absolute;
    top: -7%;
}

#contentPersonaggio.pergamena dt{
    font-size: 1.5em;
}

.pergamena #infoBreviPersonaggio {
    padding-top: 2.5em;
    padding-bottom: 0;
}

.pergamena #infoBreviPersonaggio dl {
    padding-bottom: 0;
}

.pergamena #infoBreviPersonaggio dd{
    font-size: 1.2em;
}

/* TO FIX KEEP ? */
.pergamena #infoBreviPersonaggio dl div >*{
    margin-top: 0;
}

.pergamena #infoBreviPersonaggio img{
    /* width: 10em; */
    display: none;
}

.pergamena #sezTestualiPersonaggio{
    top: -0.5em;
    margin-bottom: -3em;
}

#contentPersonaggio.pergamena::before{
    height: 120px; 
    background-size: 100% 100%;
}

.pergamena {
    padding-bottom: 1em;
}

#contentPersonaggio.pergamena::after{
    height: 88px;
    top: 80px;
    background-size: 100% 100%;
    margin-top: 1.5em;
}


#contentPersonaggio.scheda #infoBreviPersonaggio {
    font-size: 2.3mm;
}

/*
@media screen and (max-width: 370px) {

#contentPersonaggio.scheda h1 {
    font-size: 4.3mm;
}

#contentPersonaggio.scheda #infoBreviPersonaggio {
    font-size: 2mm;
}

#contentPersonaggio.scheda #sezTestualiPersonaggio {
    font-size: 1.2mm;
}

*/

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                HTML TRANSITORI
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.transitorio > div{
    width: calc(100% - 2em);
    padding: 0 1em;
}

.transitorio h1{
    font-size: 2.4em;
    padding-top:0.7em;
}

/*------------------------------------- LOGIN ------------------------------------------------
------------------------------------------------------------------------------------------------
*/

#loginBody > div {
    position: absolute;
    border-radius: 0;
    height: 100vh;
    top:0;
    width: calc(100% - 2em);
    /*background-image: none; KEEP OR REMOVE ??? */
    background-position-x: -12%, 110%; /* OK ?*/
    background-position-y: -3%, -8%; /* OK ?*/
}

#loginBody h1{
    font-size: 3em;

}

#loginBody form span input{
    width: 80%;
    display: block;
    margin: 0 auto 1em;
}

#loginBody #submitLogin div >*{
    width: 12em; 
}

#loginBody #submitLogin div{
    margin: 0.7em 0.5em;
}

/*------------------------------------- CONFERMA SALVATAGGIO ------------------------------------------------
------------------------------------------------------------------------------------------------
*/

#confermaBody h1, #confermaBody p {
    padding-left: 3%;
    padding-right: 3%;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                            PAGINE ERRORE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.errorPage h1 {
    font-size: 3.5em;
}

#body404 h1::after {
    width: 3em;
    height: 2em;
    background-size: 200% 200%;
    background-position-x: 72%;
    background-position-y: 1%;
    transform: scale(-1, 1); /* worth ?*/
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    padding-bottom: 0;
}

.errorPage section {
    width: calc(98% - 4em);
    border-radius: 0 0 1em 1em;  /* 320px :'(*/
}

#errorBody h2 {
    font-size: 1.5em;
}

#errorBody section p {
    padding: 1.5em 0 0.5em;
}