/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                GENERALE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/
*{
    padding: 0;
    margin: 0;

    color: #392D20;                /* ATTENZIONE COLORE TESTO ALTERATO*/
    line-height: 1.5em;
    font-weight: 400;
    font-size: 1em;
    font-family: "Helvetica Neue",Helvetica,sans-serif; 
}

.textVariable{
    overflow-wrap: break-word;        
    word-wrap: break-word;
    hyphens: auto;
}

em{
    font-style: normal;
    font-weight: 500;
}
abbr{
    text-decoration: none;
}
p{
    padding-bottom: 0.5em;
}
h2{
    padding-bottom: 0.8em;
    font-size: 2em;
    font-weight: 500;
}
h2 > span{
    font-size: 1em;
    font-weight: 500;
}
h3, h3 >span{
    font-weight: 500;
    padding-bottom: 0.2em;
}

html{
    background-color: #fff7e6;
}

.DeD::after {
    content: "\00ae"; 
    font-size: 0.3em;
}

input[type="submit"]:focus{
        outline: none;
    }

button:focus{
    outline: none;
}

.buttonLink{
    background-color: #8f5b20;
    color: #FFF8E6;
    margin-top: 1.9em;
    padding-top: 0.3em;
    text-align: center;
    float: right;
    width:20em;
    height: 2em;
    box-shadow: inset 0 0 0 2px rgba(117, 80, 0, 0.7);
    border-radius: 4px;
    cursor: pointer;
}
.buttonLink:hover{
    background-color: #a36a28;
    box-shadow: inset 0 0 0 2px rgba(150, 91, 2, 0.637);
}
.buttonLink:active{
    background-color: rgba(163, 106, 40, 0.644);
    box-shadow: inset 0 0 0 2px rgba(117, 80, 0, 0.397);
}

.espandi{
    position: relative;
    top:-0.8em;
    text-align: center;
    display: block;
    float: right;
    padding:1.2em 0.5em 0.5em 0.5em;
    border-radius: 0.5em;
    height: 1.8em;
}

/*
body{
    width: 640px;
    background-color: #FFFFFF;
    margin: auto;
}*/


/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                HOME PAGE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/



/*
--------------------------------------- HEADER ----------------------------------------------
*/
#intestazioneSito{
    margin: 1em 1em 1em 1em;
    font-size: 1.1em;
}
#logo{
    display: inline-block; vertical-align: top;
    width:4em;
    height:4em;
}
#menu{
    display: inline-block; vertical-align: top;
    width:18.5em;
    padding-top: 1.2em;
}
#menu li {
    list-style: none;
    display: inline;
    padding: 0.3em 0.8em 0.3em 0.8em;
}


#access {
    float: right;
    padding-top: 0.5em;
    width: calc(9% + 9em);
    margin: auto;
}
#access input {
    width:46%;
    margin: auto;
    height: 3em;
    box-shadow: inset 0 0 0 2px rgba(117, 80, 0, 0.1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /*transition-property:*/
}

#access #Accesso{
    background-color:#FFF0D4;
    color: #7F582C;
    margin-right: 5%;
}
#Iscrizione{
    background-color: #8f5b20;
    color: #FFF0D4;
}
#Iscrizione:hover{
    background-color: #a36a28;
    box-shadow: inset 0 0 0 2px rgba(150, 91, 2, 0.637);
}
#Iscrizione:active{
    background-color: rgba(163, 106, 40, 0.644);
    box-shadow: inset 0 0 0 2px rgba(117, 80, 0, 0.397);
}


/*
--------------------------------------- INTRODUZIONE ----------------------------------------------
*/


#introduzione{
    width: calc(89% - 3em);
    height: 620px;
    margin:2em auto 4em auto;
    overflow: hidden;
    border: 3em ridge #ffd17c69;
    border-radius: 1em;
}

#introduzione img{
    display:block;
    width: 85em;
    position: relative;
}


/*
--------------------------------------- PRESENTAZIONE FEATURE ----------------------------------------------
*/


#presentazioneFeatures {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
#presentazioneFeatures h2, #presentazioneFeatures p{
    width: 80%;
    margin: auto;
    padding-bottom: 0.2em
}
#presentazioneFeatures p{
    margin-bottom: 0.8em;
}
#presentazioneFeatures ul p{
    font-size: 0.9em;
}
#presentazioneFeatures ul   {
    margin: auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#presentazioneFeatures li {
    margin: auto;
    flex: 0 1 18em;
}
#presentazioneFeatures ul img {
    width: 6em;
}


/*
--------------------------------------- ARGOMENTI ----------------------------------------------
*/


#argomenti > div {
    padding: 2em 2em 2em 2em;
    font-size: 1em;
    margin: 7% auto 0 auto;
    display: flex;
    flex-wrap: wrap;                        /*CONSIDERA*/
}
#argomenti img{
    display: block;
    width: 25em;
    height: 25em;
    margin: auto;
    padding: 1.2em 2.5em 1.2em 2.5em;
    flex: 0 1 auto;
}
#argomenti .testoArgomento{
    max-width: 90%;
    margin: auto;
    padding: 1.2em 2em 1.2em 2em;
    flex: 1 1 50%;
}

#argomenti > div:nth-child(odd){
    flex-direction: row-reverse;
}
#argomenti > div:nth-child(even){
    flex-direction: row;
}


#howToPlay, #howToPostReport.howTo{
    display: none;
}
.howTo{
    background-color: #FFF0D4;
    border-radius: 0.8em;
    width: 85%;
}
.howTo li{
    padding-bottom: 1.5em;
    list-style-type:none;
}
.howTo li:before{
    float: left;
    position: relative;
    left: -1em;
    top:-0.2em;
}
.howTo li:nth-child(1):before {content:  url(../images/numeri_lista/uno.png);}
.howTo li:nth-child(2):before {content:  url(../images/numeri_lista/due.png);}
.howTo li:nth-child(3):before {content:  url(../images/numeri_lista/tre.png);}
.howTo li:nth-child(4):before {content:  url(../images/numeri_lista/quattro.png);}

.howTo h2{
    text-align: center;
}
#argomenti .howTo .testoArgomento{
    max-width: 35em;
    flex: 1 0 44.5%;
}



/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                CREAZIONE PERSONAGGIO
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

h2#ccTitle {
	text-align: center;
	margin: 1em auto 0.8em auto;
}

p#ccP {
	padding: 0.7em 10%;
	/*background-color: #FFEAB7;*/
}

form#ccForm {
	
}

label[for= cname] {
	display: inline-block;
	margin-top: 3em;
	margin-bottom: 1em;
}

input {
	margin-top:1em;
/* ?	margin-bottom: 1em; ? */
	text-align: center;
}

.ccField {
	margin-top:1.3em;
	margin-bottom: 1.3em;
	background-color: #FFEAB7;
}

.ccField legend {
	/*background-color: #FFF9EA;*/
	font-weight: bold;
}

div.ccInfo {
	/* ? PHP ?*/
	padding: 0.5em;
	margin: 0.5em;
	background-color: red;
}

fieldset.ccField p {
	text-align: center;
	margin: 0.7em;
}

/* GRID? */
.ccTraitsL {
	display: block; /*display: inline-block*/
	text-align: center;
	margin-top: 1em;
}
/* GRID? */
.ccTraitsTA {
	display: block;
	resize: none; /* maybe */
    margin: 0.5em auto 2.4em auto;
}

input#ccSub {
	position: absolute;
	font-size: 1.1em;
	right: 10%;
	margin-bottom: 3em;
}



/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                REPORT SESSIONE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/



/*
------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA REPORT
------------------------------------------------------------------------------------------------------------
*/



/*
------------------------------------------------------------------------------------------------------------
                                                CREA REPORT
------------------------------------------------------------------------------------------------------------
*/





/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                AREA PERSONALE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/


/*
------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA INFO UTENTE
------------------------------------------------------------------------------------------------------------
*/


#viewInfoUser{
    height: 20em;              /*da cambiare lo ho messo a caso*/
}

#viewInfoUser {
    margin-right: 5em;
    margin-left: 5em;
}

#viewInfoUser h1 {
    font-size: 3em;
    font-weight: bold;
}

#viewInfoUser legend {
    font-weight: bold;
}

#viewInfoUser input {
    border-style: none;
}

#viewInfoUser fieldset {
    border-style: none;
    margin-top: 1em;
}


/*
------------------------------------------------------------------------------------------------------------
                                                MODIFICA INFO UTENTE
------------------------------------------------------------------------------------------------------------
*/








/*
------------------------------------------------------------------------------------------------------------
                                                AREA DASHBOARD
------------------------------------------------------------------------------------------------------------
*/

/*----------------------- HEADERS GENERICI DELLA DASHBOARD--------------------------
*/

#dashboard > div > header{
    margin-left: 5%;
}

#dashboard h3{
    font-size: 2em;
}
#dashboard h2{
    float: left;
    font-size: 2.5em;
    max-width: 8.5em;
    padding-bottom: 0.3em;
}
#dashboard header p{
    clear: both;
}
#dashboard header{
    margin-bottom: 1em;
}

#dashboard .buttonLink{
    margin-right: 5%;
    margin-top: 1em;
    width: 18em;
}


/*----------------------- BOX GENERICO --------------------------
*/

.box{
    background-color: #f7ecd4;
    border-radius: 0.7em;
}

/*----------------------- CARDS GENERICHE --------------------------
*/

.cards > li{
    border-radius: 0.5em;
    box-shadow: 5px 5px 3px #74747488;
    list-style-type: none;
    overflow: hidden;
}

/*----------------------- ESPANDI GENERICO --------------------------
*/
.espandi{
    background-color: #f7ecd4;
}
.espandi input{
    background-color: transparent;
    font-size:0;
}
.espandi label:hover{color: #97581d;}
.espandi label:active{color: #994107;}



/*------------------------------------- PERSONAGGI ---------------------------------------------
------------------------------------------------------------------------------------------------
*/


#personaggiUtente{
    border-top: 1px solid #5f3f1738;
    padding-top:calc(2em + 3%);
    border-bottom: 1px solid #5f3f1738;
    margin-bottom: calc(2em + 3%);
    padding-bottom: 5em;
}


#personaggiUtente .box{
    width: 80%;
    margin: 2em auto 2em auto;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
#personaggiUtente .cards{
    width: calc(100% - 1em);
    display: flex;
    flex-wrap: wrap;
    height: calc(17em + 5px);                                                   /*DA DISABILITARE SE BOX ESPANSO*/
    overflow: hidden;
    justify-content: center;
}

#personaggiUtente .espandi{
    width: 7em;
}
#personaggiUtente .espandi input{
    display: none;
}

/*----------------------- CARD PERSONAGGI --------------------------
*/

#personaggiUtente .cardPersonaggio{
    flex: 0 0 calc(10em);
    width: 9em;
    height: 13em;
    margin: 1em 5px 1.2em 1em;
    background-color: #f8d38d;
    background-image: url(../images/sfondo_card_personaggi.png);
    border: 1em ridge #915f14cc;
}
#personaggiUtente .cardPersonaggio button{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: transparent;
    border: none;
}
#personaggiUtente .cardPersonaggio button:hover{
    background-color: #f1f1f16b;
}
#personaggiUtente .cardPersonaggio button:active{
    background-color: #ffe0b175;
}

#personaggiUtente .cardPersonaggio h4{
    text-align: center;
    width: calc(100% - 1em);
    padding: 0 0.5em 0.45em 0.5em;
    line-height:1.2em;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 550;
}
#personaggiUtente .cardPersonaggio img{
    display: block;
    width: 3.5em;
    margin: 0.3em auto 0.2em auto;
    border-radius: 0.3em;
}
#personaggiUtente .cardPersonaggio ul{
    list-style-type: none;
    height: 6em;
    width: 100%;
}
#personaggiUtente .cardPersonaggio li{
    height: 1.4em;
}
#personaggiUtente .cardPersonaggio #allineamento *{
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 0.2em;
    border-color: #dbceb281;
}
#personaggiUtente .cardPersonaggio #allineamento legend{
    padding: 0 0.3em 0 0.3em;
    font-weight: 500;
    font-size: 0.9em;
}

#personaggiUtente .cardPersonaggio li h5{
    width: 36%;
    float: left;
    font-size: 0.9em;
    font-weight: 500;
    padding-left: 0.8em;
}
#personaggiUtente .cardPersonaggio li p{
    font-size: 0.9em;
    padding-bottom: 0;
}


/*------------------------------------- REPORTS ------------------------------------------------
------------------------------------------------------------------------------------------------
*/

.listeReport header{
    text-align: center;
}

.listeReport{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin-bottom: 10em;
}
.listeReport > div{
    flex: 1 0 45%;
    min-width: 25em;
    margin-top: 1em;
    margin-bottom: 2em;
    max-width: 35em;
}
.listeReport #reportMaster{margin-right: 0.5em;}
.listeReport #reportPartecipante{margin-left: 0.5em;}



.report .box{
    margin-top: 1em;
    min-height: 31.8em;
    padding-top: 1.5em;
    padding-bottom: 0.1em;
}

.report .cards li{
    width: 95%;
    height: 9em;
    margin: 0 auto 1.5em auto;
    display: block;
    background-color: #FFFFFF;
}

/*--------------------------- ESPANDI REPORTS -------------------
*/

.report .espandi{
    width: 20em;
    font-size: 0.9em;
}
.report .espandi ul{

    list-style-type: none;
}
.report .espandi li{
    display: inline; width: 5.3em;
}
.report .espandi .inputMove{
    width: 1em;
    margin: auto 0.5em auto 0.5em;
}

.report .espandi .precedente, .report .espandi .successivo{
    position:relative;
    top:-5px;
    width: 20px;
    height: 18px;
    border-style: solid;
}
.report .espandi .precedente{
    border-width: 9px 20px 9px 0;
    border-color: transparent #2c2318 transparent transparent ;
}
.report .espandi .successivo{
    border-width: 9px 0 9px 20px;
    border-color: transparent transparent transparent #2c2318;
}
.report input.precedente:hover{border-right-color: #724713;}
.report input.precedente:active{border-right-color: #3d2f1f96;}
.report input.successivo:hover{border-left-color: #724713;}
.report input.successivo:active{border-left-color: #3d2f1f96;}



/*--------------------------- CARDS REPORTS -------------------
*/
.report .cardReport > button{
    height: 100%;
    width: 100%;
    border: 5px solid #e9e4dd;
    border-radius: 0.5em;
    background-color: transparent;
}
.report .cardReport > button:hover{
    background-color: #5a5a5a11;
}
.report .cardReport > button:active{
    background-color: #f8ddbe96;
    border: 5px solid #ffd39b;
}

.report .cardReport .testoCardRep{
    float: left;
    height: 5.5em;
    overflow: hidden;
    width: 73%;
    padding: 0.6em;
    display: flex;
    flex-direction: column;
    text-align: left;
 }
.report .cardReport .testoCardRep h4{
     font-size: 1.2em;
     font-weight: 400;
     padding-left: 0.5em;
     padding-bottom: 0.15em;
 }
.report .cardReport .testoCardRep p{
    font-size: 0.9em;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 0;
}


.report .cardReport .autoreRep{
    display: flex;
    flex-direction: column;
    float: right;
    width: calc(27% - 1.7em);
    height: 100%;
    text-align: center;
    margin-right: 0.5em;
}

.lableRepPublico{                                                         /*da eliminare alla fine*/
    display: none;
}
button[name="RemoveRep"]{                                                 /*da eliminare alla fine*/
    display: none;
}

.report #reportMaster button > div{
    height: 100%;
}
.report .cardReport .publicazione{
    float: right;
    width: calc(27% - 1.2em);
    height: calc(100% - 10px);
    border-radius: 0.5em;
    position: relative;
    top: calc(-10.4em + 5px);
    right: 5px;
}
.report .cardReport div.publicazione button{
    border-radius: 0.2em;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
    margin: auto;
    height: 100%;
    border: none;
    background-color: #ddddddbe;
}
.report .cardReport .publicazione button:hover{
    background-color: #e3b8ffbe;
}
.report .cardReport .publicazione button:active{
    background-color: #f9efff;
}

.report .cardReport .autoreRep h5{
    font-size: 1em;
    font-weight: 500;
    margin: auto;
    margin-bottom: 0;
}
.report .cardReport .autoreRep p{
    font-size: 0.8em;
    margin: auto;
    margin-top: 0;
}
.report .cardReport .autoreRep img{
    width: 3.5em;
    height: 3.5em;
    border-radius: 1.75em;
    margin: auto;
}

.report .cardReport footer{
    clear: both;
    position: relative;
    bottom: calc(1.4em + 4px);
    left: -5px;
}
.report .cardReport footer p{
    width: 16em;
    height: 1.3em;
    padding-right: 0.5em;
    padding-bottom: 0.1em;
    font-size: 0.95em;

    text-align: center;
    border: 5px solid #e9e4dd;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 0.5em;
}
.report .cardReport footer .lableRepPublico{
    background-color: #440f5c;
    color: #FFF8E6;
}
.report .cardReport footer .lableRepPrivato{
    background-color: #fff5df;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                ESPLORA
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/










/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                               ESEMPIO ESPLORA
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#contentEsplora{
    display: flex;
    flex-wrap: wrap;
}

#asides{
    flex: 1 1 30em;
    min-width: 20em;
    max-width: 30em;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
#eventi{
    margin: auto;
    margin-right: 0;
    flex: 1 0 30em;
    max-width: 30em;
}
#risorse{
    margin: auto;
    margin-right: 0;
    flex: 1 0 30em;
    max-width: 30em;
}

#reportEsplora{
    margin: auto;
    flex: 1 1 40em;
    min-width: 40em;
    max-width: 100em;
}

#reportEsplora form{                    /* Usa la form per ridimensionare*/
    width: 90%;
    max-width: 48em;
    margin: auto;
}


