*{
    padding: 0;
    margin: 0;

    color: #392D20;                /* ATTENZIONE COLORE TESTO ALTERATO*/
    line-height: 1.5em;
    font-weight: 400;
    font-family: "Helvetica Neue",Helvetica,sans-serif; 
}

em{
    font-style: normal;
}
p{
    padding-bottom: 0.5em;
}
h2{
    padding-bottom: 0.8em;
    font-size: 2em;
    font-weight: 500;
}
h2 > span{
    font-size: 1em;
    font-weight: 500;
}
h3, h3 >span{
    font-weight: 500;
    padding-bottom: 0.2em;
}

html{
    background-color: #FFF8E6;
}

/*
body{
    width: 640px;
    background-color: #FFFFFF;
    margin: auto;
}*/


header{
    margin: 1em 1em 1em 1em;
    width: calc(100%-2em);
    font-size: 1.1em;
}
#logo{
    display: inline-block; vertical-align: top;
    width:4em;
    height:4em;
}
#menu{
    display: inline-block; vertical-align: top;
    width:18.5em;
    padding-top: 1.2em;
}
#menu li {
    list-style: none;
    display: inline;
    padding: 0.3em 0.8em 0.3em 0.8em;
}


#access {
    float: right;
    padding-top: 0.8em;
}
#access input {
    display: inline-block;
    width:8em;
    height: 3em;
    box-shadow: inset 0 0 0 2.5px rgba(14,19,24,.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 0 0 1em;

    /*transition-property:*/
}
#Accesso{
    background-color:#FFF0D4;
    color: #7F582C;
}
#Iscrizione{
    background-color: #7F582C;
    color: #FFF0D4;
}

.DeD::after {
    content: "\00ae"; 
    font-size: 0.3em;
}

#presentazioneFeatures {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
#presentazioneFeatures h2, #presentazioneFeatures p{
    width: 80%;
    margin: auto;
    padding-bottom: 0.2em
}
#presentazioneFeatures p{
    margin-bottom: 0.8em;
}
#presentazioneFeatures ul p{
    font-size: 0.9em;
}
#presentazioneFeatures ul   {
    margin: auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#presentazioneFeatures li {
    margin: auto;
    flex: 0 1 18em;
}
#presentazioneFeatures ul img {
    width: 6em;
}


/*

*/

#argomenti > div {
    padding: 2em 2em 2em 2em;
    font-size: 1em;
    margin: 6em auto 3em auto;
    display: flex;
    flex-wrap: wrap;                        /*CONSIDERA*/
}
#argomenti img{
    display: block;
    width: 25em;
    height: 25em;
    margin: auto;
    padding: 1.2em 2em 1.2em 2em;
}
#argomenti .testoArgomento{
    width: 50%;
    margin: auto;
    padding: 1.2em 2em 1.2em 2em;
}

#argomenti > div:nth-child(odd){
    flex-direction: row-reverse;
}
#argomenti > div:nth-child(even){
    flex-direction: row;
}

#argomenti .testoArgomento , #argomenti img{
    flex: 0 1 auto;
}

#howToPlay, #howToPostReport.howTo{
    display: none;
}
.howTo{
    background-color: #FFF0D4;
    border-radius: 0.8em;
    width: 85%;
}






/* --- Creazione Personaggio --- */
h2#ccTitle {
	text-align: center;
	margin: 1em auto 0.8em auto;
}

p#ccP {
	padding: 0.7em 10%;
	/*background-color: #FFEAB7;*/
}

form#ccForm {
	
}

label[for= cname] {
	display: inline-block;
	margin-top: 3em;
	margin-bottom: 1em;
}

input {
	margin-top:1em;
/* ?	margin-bottom: 1em; ? */
	text-align: center;
}

.ccField {
	margin-top:1.3em;
	margin-bottom: 1.3em;
	background-color: #FFEAB7;
}

.ccField legend {
	/*background-color: #FFF9EA;*/
	font-weight: bold;
}

div.ccInfo {
	/* ? PHP ?*/
	padding: 0.5em;
	margin: 0.5em;
	background-color: red;
}

fieldset.ccField p {
	text-align: center;
	margin: 0.7em;
}

/* GRID? */
.ccTraitsL {
	display: block; /*display: inline-block*/
	text-align: center;
	margin-top: 1em;
}
/* GRID? */
.ccTraitsTA {
	display: block;
	resize: none; /* maybe */
    margin: 0.5em auto 2.4em auto;
}

input#ccSub {
	position: absolute;
	font-size: 1.1em;
	right: 10%;
	margin-bottom: 3em;
}

/* ---  --- */