/*
#argomenti > div {
    margin: 7% auto 0 auto;
}*/
#argomenti img{
    padding: 0;
}
#menu{
    display:block;
}


/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                AREA PERSONALE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/


/*
------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA INFO UTENTE
------------------------------------------------------------------------------------------------------------
*/

#viewInfoUser {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

#viewInfoUser div:nth-child(3) {
    height: 14em; 
    /*display: flex;*/
    /*justify-content: center;*/
    margin: 2em 1em 2em 1em;

}

#viewInfoUser div div:nth-child(2)  {
    max-width: 50%;
    /*flex: 1 0;
    display: flex;
    flex-direction: column;*/
    margin-left: 10%;
}

#viewInfoUser img {
    max-width: 17em;
    height: 14em;
    /*flex: 1 0;*/
}

#viewInfoUser h1 {
    font-size: 3em;
    font-weight: bold;
}

#viewInfoUser h3 {
    font-weight: bold;
    padding: 0em;
}

#viewInfoUser input {
    border-style: none;
    background: none;
    font-size: 1em;
    text-align: left;
}

#viewInfoUser input[name="email"] {
    width: 15em;
}

#viewInfoUser label {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    width: 40%;
}

#viewInfoUser fieldset {
    border-style: none;
    width: 100%;
    max-height: 20%;
    margin-bottom: 1em;
}
