/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                GENERALE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/
p,li{
    font-size: 0.95em;
}
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
    padding-bottom: 0.2em;
}

#intestazionePagina h1 {
    font-size: 2.2em;
    margin-bottom: 0.2em;
}

#intestazionePagina p{

}

/*TO FIX */
.buttonLink {
    width:20em;
    height: 2.7em;
}
/*TO FIX */
a.buttonLink {
    padding-top:0.5em;
    height: 2.2em;
}
/*TO FIX */
input[type="file"]{
    width: 20em;
}

/*TO FIX */
/* textarea,input[type="text"],input[type="date"],input[type="password"] {
    
} */

#breadcrumb {
    display: block;
    width: calc(100% - 15.5em);
    position: absolute;
    top:0;
    left: 4em;
    font-size: 1em;
    font-weight: 400;
    margin-top: 0.3em;
    background-color: transparent;
}
#breadcrumb li:not(#breadCCurrent){
    display: none;
}
#breadcrumb li+li::before {
    display: none;
}
#breadcrumb li:first-child::before{
    content: "";
}
#breadcrumb:before{
    content: "NOME SITO";
    display: block;
    width: 6em;
    margin:auto;
}
/* TO FIX 
#footerContent dl dd {
    text-align: left;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 37%;
    margin: 0 4% 2%;
}

#footerContent dl dd a {
    display: block;
    margin-top: 1%;
    margin-left: 4%;
}

#footerContent dl.open-footer {
    text-align: center;
    padding-bottom: 17%;    
 }

 #footerContent dl.open-footer dt:first-child{
    margin-left: 0;
 } */

.submitForm a, .submitForm input{
    width: 8em;
}

 .hidden {
    display: none !important;
}

/*
--------------------------------------- HEADER ----------------------------------------------
---------------------------------------------------------------------------------------------
*/
#intestazioneSito #menu{
    width: 100%;
    margin-left: 0;
    background-color: #3b3835;
    display: none;
    font-weight: 500;
}
#intestazioneSito #menu #currentLink{
    display: none;
}
#intestazioneSito #menu > li {
    display: block;
    text-align: center;
}
#intestazioneSito #menu .dropdown{
    width: 100%;
    text-align: left;
    padding:0.2em 1em;
    background-color: rgb(48, 44, 44);
    color:#ebebeb;
    font-weight: 400;
}
#intestazioneSito  #menu .dropdown-content{
    display: flex;
    flex-wrap: wrap;
    position: inherit;
    box-shadow: none;
}
#intestazioneSito #menu .dropdown-content li{
    width: calc(50% - 2em);
    min-width: 17em;
    margin:auto;
}
#intestazioneSito #menu .dropdown-content li a{ 
    background-color: #3b3835;
    text-align: center;
    border-top: none;
    font-size: 1.3em;
}
#intestazioneSito #menu li a:not(.dropdown):hover{
    background-color: #464441;
}
#intestazioneSito #menu li a:not(.dropdown){
    text-decoration: underline;
}
#intestazioneSito #menu > li a{
    padding: 1em;
    font-size: 1.1em;
}

 #breadcrumb #breadCCurrent{
     position: relative;
    top:0.4em;
    font-size: 0.8em;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#intestazioneSito #access{
    position: absolute;
    right: 0;
    top:0;
    width:9.5em
}
#access input{
    margin-top: 0.38em;
    width: 4.5em;
    height: 2.5em;
}
#intestazioneSito > a{
    background: black;
    display: block;
    width: 3.3em;
    height: 3.3em;
    background-image: url(../images/hamburger_icon.png);
    background-position: center;
    background-size: 3em 3em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                        HOME
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#copertina{
    height: calc(20em + 30px);
    background-color: #000000;
}

#copertina img{
    position: relative;
    display:block;
    width: 1000px;
    height: calc(20em + 30px);
    left: calc(100% - 1000px);
    z-index: 1;
    opacity: 0.5;
}

#personaggiCoperina{
    left: calc(100% - 460px);
    position: relative;
    margin-top: 0;
    top:-305px;
    z-index: 2;
    opacity: 0.6;
}

#copertina header{
    z-index: 3;
    padding: 0;
    position: relative;
    top:calc(-15em -  300px);
}
#copertina header dl{
    margin-left: 0.25em;
    position: relative;
    width: calc(100% - 1.5em);
    top: 2.8em;
    background-color: #ffecc4e3;
    float: none;
    clear: both;
    padding: 0.5em;
    border-radius: 2em;
}
#copertina header dl#starFeature > dt{
    width: 100%;
    text-align: center;
}
#copertina header dl#starFeature > dd{
    float:none;
    width: 100%;
}
#copertina header dl#starFeature > dd a{
    margin:auto;
}
#copertina header dt:nth-child(3){
    padding-top: 0.6em;
}
#copertina #titolo{
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    font-size: 3em;
    margin-bottom: 0.4em;
    padding: 0em;
}

/*
--------------------------------------- PRESENTAZIONE FEATURE ----------------------------------------------
------------------------------------------------------------------------------------------------------------
*/
#indicazioneUsoFeature{
    padding-top: 2em;
    display: block;
}
#presentazioneFeatures div{

    background-color: #fffdfa;
    margin:auto;
    border: 8px inset #dfdfdf;
    border-radius: 0.5em; 
    width: calc(100% - 4em);
    padding-top: 0em;
    height: 15em;
    overflow: scroll;
}
#presentazioneFeatures #features{
    width: 100em;
}
#presentazioneFeatures #features li{
    flex:0 0 14em;
    min-width: 14em;
}

#approfondimenti a > span{
    font-size: 0.7em;
}

.howTo .buttonLink{
    width: 14em;
    height: 3.5em;
}
.howTo li:before{
    padding-bottom: 1em;
}
#bodyHome h2{
    font-size: 1.8em;
}





/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                ESPLORA
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

/*
------------------------------------------------------------------------------------------------------------
                                                ASIDE
------------------------------------------------------------------------------------------------------------
*/
/*
#esploraAside {
    flex: 1 auto;
    margin: auto;
    max-width: none;
}

#esploraAside h2{
    font-size: 2em;
    text-align: center; 
}

#esploraAside ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#esploraAside li{
    flex: 1 auto;
    width: 25em;
}

#esploraAside li p{
    display: none;
}

#esploraAside li a{
    font-size: 2.5em;
}*/
/*--------------------------- ASIDE DL-DT-DD -------------------
*/


#eventi dt {
    padding-left: 0em;
}
/*
#eventi dd:nth-of-type(2n):not(:last-child) {
    padding-bottom: 0.5em;
}
*/

#eventi dd {
    display: list-item;
    list-style-type: none;
}

#esploraAside{
    min-width: 0;
}

/*
#siti dt {
    display: inline-block;
}
#siti dd{
    display: inline;
}
#siti dd::after{
    display: block;
    content: "";
}
*/

/*
------------------------------------------------------------------------------------------------------------
                                                REPORTS
------------------------------------------------------------------------------------------------------------
*/

#reportEsplora.report{
    padding-top: 0;
}

#reportEsplora header{
    font-size: 0.8em;
}

#reportEsplora h2{
    padding-bottom: 0.4em;
}
#reportEsplora{
    min-width: 70%;
}
.report .espandi {
    font-size: 1em;
    max-width: calc(100% - 1em);
}
.report .espandi li:not(:nth-child(3)){
    text-decoration: underline;
}
.report .espandi li.inputMove input{
    border-color: transparent;
    border-width: 0;
    width: 0.1em;
    height: 0.1em;
}
/*
------------------------------------------------------------------------------------------------------------
                                                CARD REPORT
------------------------------------------------------------------------------------------------------------
*/

.report .cards li{
    height: 11em;
}
.report .cards .badgeUtente img{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.report .cards .testoCardRep{
    height: 7.5em;
}
.report .cards .testoCardRep p{
    font-size: 1em;
}
.report .cardReport .publicazione{
    top: calc(-12.4em + 4px);

    width: calc(27% - 1.2em);
    min-width: 4em;
    height: calc(100% - 10px - 3.5em);
}
.report .cardReport div.publicazione button{
    border-radius: 0.3em;
    border-bottom-left-radius: 1em;
}
/*
------------------------------------------------------------------------------------------------------------
                                                DISCLAIMER
------------------------------------------------------------------------------------------------------------
Da qui in poi è contenuto che esisteva già prima e non so a cosa serviva... nel dubbio commentare
*/

#argomenti > div {
    margin: 7% auto 0 auto;
}*/
#argomenti img{
    padding: 0;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                AREA PERSONALE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#dashboard h2, #viewInfoUser h2{
    padding-bottom: 0.6em;
}
#areaPersonale .listeReport{
    margin-top:0.8em;
}

#personaggiUtente .cardPersonaggio{
    font-size: 1em;
}



/*
------------------------------------------------------------------------------------------------------------
                                                VISUALIZZA INFO UTENTE
------------------------------------------------------------------------------------------------------------
*/

#viewInfoUser {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

#viewInfoUser div:nth-child(3) {
    height: 14em; 
    /*display: flex;*/
    /*justify-content: center;*/
    margin: 2em 1em 2em 1em;

}

#viewInfoUser div div:nth-child(2)  {
    max-width: 50%;
    /*flex: 1 0;
    display: flex;
    flex-direction: column;*/
    margin-left: 10%;
}

#viewInfoUser img {
    max-width: 17em;
    /*flex: 1 0;*/
}

#viewInfoUser h1 {
    font-size: 3em;
    font-weight: bold;
}

#viewInfoUser h3 {
    font-weight: bold;
    padding: 0em;
}

#viewInfoUser input {
    border-style: none;
    background: none;
    font-size: 1em;
    text-align: left;
}

#viewInfoUser input[name="email"] {
    width: 15em;
}

#viewInfoUser label {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    width: 40%;
}

#viewInfoUser fieldset {
    border-style: none;
    width: 100%;
    max-height: 20%;
    margin-bottom: 1em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                            APPROFONDIMENTI HTMLS
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.htmlApprofondimento .content{
    width: 100%;
    padding-bottom: 15%;
}

.htmlApprofondimento h2{
    padding-bottom: 0.2em;
}

.htmlApprofondimento p{
    padding-bottom: 0.5em;
}

.htmlApprofondimento section{
    width: 95%;
    padding-bottom: 1em;
    margin: auto;
}

.htmlApprofondimento .howTo{
    width: calc(100% - 2.6em);
    padding: 1.3em;
    padding-top: 0.5em;
    margin: 0;
}

.htmlApprofondimento .howTo li:before {
    left: -2.2em;
}

.htmlApprofondimento .howTo img{
    display: none;
}

#contentEsplora ol{
    width: 95%;
    margin-left: 5%;
}


/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                        CREAZIONI
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.creazioneFields fieldset {
    width: calc(95% - 2em);
}

.creazioneFields .fieldss > p{
    padding: 0 1em;
    max-width: 95%;
}

.creazioneFields .fieldss > div{
    padding: 0.3em 1.5em;
    max-width: 95%;
}

.creazioneFields fieldset legend{
    padding-bottom: 0;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                CREAZIONE PERSONAGGIO
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#creazionePersonaggio ol{
    width: 100%;
}

#creazionePersonaggio .fieldss > p {
    padding: 0.5em;
    max-width: 95%;
}

#nomeField div{
    width: 100%;
}

.creazioneFields #nomeField input{
    display: block;
    width: 10em;
    margin: 0.2em auto;
}

#submitPersonaggio{
    margin-top: 2.5em;
}

#creazionePersonaggio fieldset.traitField > p{
    padding: 0.4em;
}

.traitsCard {
    margin: 0 0.7em;
}

.traitsCard textarea {
   width: calc(100% - 1em - 1px);
}

#submitPersonaggio{
    padding:1em;
}

#submitPersonaggio p{
    width: 90%;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                CREA REPORT SESSIONE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

#creazioneReport ol{
    width: 100%;
}

#creazioneReport #immaginiRepo > div{
    max-width: 100%;
    padding: 1.2em 2em;
}

#creazioneReport .creazioneFields #contenutoRepo textarea{
    height: 6em;
}

/*
------------------------------------- BOX GIOCATORI ------------------------------------
*/

#creazioneReport #selezionamentoGiocatori > div{
    padding: 0;
} 

#inserimentoGiocatori{
    width: 100%;
}

#selezionamentoGiocatori #inserimentoGiocatori input[type="text"]{
    text-align: center;
    display: block;
    padding: 0 0.5em 0 0.5em;
    margin: auto;
}

#selezionamentoGiocatori #inserimentoGiocatori input[type="submit"]{
    display: block;
    margin: 1em auto 0;
}

#creazioneReport #selezionamentoGiocatori > div{
    padding: 0;
}

#creazioneReport #selezionamentoGiocatori ul{
    width: 100%;
    height: auto;
    background-color: inherit;
    padding: 0;
    border: 2px solid rgb(105, 102, 102);
    overflow: hidden;
    margin: 1em auto;
}

#creazioneReport #selezionamentoGiocatori ul li{
    width: 100%;
    margin: auto;
}

#creazioneReport #selezionamentoGiocatori ul li:not(:last-child){
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

#creazioneReport #selezionamentoGiocatori .badgeUtente {
    display: flex;
    text-align: left;
    width: 100%;
    height: auto;
    margin: 0;
}

#creazioneReport #selezionamentoGiocatori .badgeUtente div{
    display: inline-block;
    width: calc(100% - 35px);
}

#creazioneReport #selezionamentoGiocatori .badgeUtente img{
    vertical-align: middle;
    margin: 10px 10px;
}

#creazioneReport #selezionamentoGiocatori .badgeUtente p{
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: calc(100% - 3.5em - 26px);
    padding: 0;
    margin: 0;
}

#creazioneReport #selezionamentoGiocatori .badgeUtente .deleteButton{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 40%;
    position: static;
    margin: 22px 5px 0 0;
}


/*
------------------------------------- CONCLUSIONE------------------------------------
*/

#conclusione{
    padding-top: 0;
    width: 100%;
}

#conclusione #condivisione h3{
    font-size: 1.3em;
    width: 100%;
}

#conclusione #condivisione > div{
    margin:auto;
    font-size:1.2em;
    width: 100%;
}

#conclusione #submitReport {
    border-radius: 3em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                MODIFICA DATI PERSONALI E LOGIN
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.userFields fieldset {
    width: calc(100% - 2em);
}

.userFields .submitForm {
    min-width: 0;
    width: 95%;
}

#modificaDati .submitForm {
    min-width: 0;
    border-radius: 2.5em;
}

form#datiUtenza fieldset{
    margin-bottom: 2em;
}

form#datiUtenza{
    width: 95%;
}

.userFields fieldset img {
    width: 7em;
    height: 7em;
}

.userFields fieldset li{
    width: 95%;
}

#modificaDati #sign-up_form .buttonLink {
    width: 9.5em;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                HTML TRANSITORI
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.transitorio > div{
    width: calc(100% - 2em);
    padding: 0 1em;
}

.transitorio h1{
    font-size: 2.4em;
    padding-top:0.7em;
}

/*------------------------------------- LOGIN ------------------------------------------------
------------------------------------------------------------------------------------------------
*/

#loginBody > div {
    width: calc(100% - 2em);
    /*background-image: none; KEEP OR REMOVE ??? */
    background-position-x: -12%, 110%; /* OK ?*/
    background-position-y: -3%, -8%; /* OK ?*/
}

#loginBody h1{
    font-size: 3em;

}

#loginBody form > input{
    width: 15em;
    display: block;
    margin: 1em auto;
}

#loginBody #submitLogin div >*{
    width: 12em; 
}

#loginBody #submitLogin div{
    margin: 0.7em 0.5em;
}

/*------------------------------------- CONFERMA SALVATAGGIO ------------------------------------------------
------------------------------------------------------------------------------------------------
*/

#confermaBody h1, #confermaBody p {
    padding-left: 3%;
    padding-right: 3%;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
                                                            PAGINE ERRORE
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

.errorPage h1 {
    font-size: 3.5em;
    padding-top: 1%;
}

#body404 h1::after {
    width: 3em;
    height: 2em;
    background-size: 200% 200%;
    background-position-x: 72%;
    background-position-y: 1%;
    transform: scale(-1, 1); /* worth ?*/
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    padding-bottom: 0;
}

.errorPage section {
    width: calc(95% - 2em);
    border-radius: 0 0 1em 1em;  /* 320px :'(*/
}

#errorBody h2 {
    font-size: 1.5em;
}

#errorBody section p {
    padding: 1.5em 0 0.5em;
}